{% extends "frontend/layouts/default4.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}
	<div class="contact-clean">
        <form method="post" method="post" action="contact_form">
            <h2 class="text-center">Contactanos </h2>
            <div class="form-group has-success has-feedback">
                <input class="form-control" type="text" name="title" placeholder="Title">
                
            </div>
            <div class="form-group has-success has-feedback">
                <input class="form-control" type="text" name="name" placeholder="Nombre">
                
            </div>
            <div class="form-group has-error has-feedback">
                <input class="form-control" type="email" name="email" placeholder="Email">
              
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="14" name="message" placeholder="Mensaje"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Enviar </button>
            </div>
        </form>
    </div>

{% endblock %}