{% extends "frontend/layouts/default3.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
            <h1>Mensaje enviado</h1>
            <p>Muchas Gracias por contactarnos pronto nos pondremos en contacto contigo.</p>
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 hidden-xs hidden-sm phone-holder">
         
        </div>
    </div>

{% endblock %}