{% load i18n admin_static %}




<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
         
         {% block content_title %}
            {% if title %}<h1 class="page-header">{{ title }}</h1>{% endif %}
        {% endblock %}
        {% block breadcrumbs %}           
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            </li>
            <li>
                {% if title %}{{ title }}{% endif %}
            </li>
        </ol>
        {% endblock %}
    </div>
</div>
<!-- /.row -->
