{% load mptt_tags %}
{% load i18n %}
{% load custom_admin_tags %}
<!--=================================
header
=================================-->  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'admin:index' %}">
          {% block welcome-msg %} {% trans 'Welcome,' %}{% endblock %}
          {% block branding %}{% endblock %}
        </a>
    </div>
      <!-- Top Menu Items -->
     {% block usertools %}
       {% if has_permission %}
        <ul class="nav navbar-right top-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> 
                {% firstof user.get_short_name user.get_username %} 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  {% if user.has_usable_password %}
                  <li>
                      <a href="{% url 'admin:password_change' %}">
                        <i class="fa fa-fw fa-user"></i>
                        {% trans 'Change password' %}
                      </a>
                  </li>
                  {% endif %}
                  <li>
                      <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                  </li>
              </ul>
          </li>
          {% if site_url %}
            <li>
              <a href="{{ site_url }}">{% trans 'View site' %}</a>
            </li>
          {% endif %}
          <li>
              {% if user.is_active and user.is_staff %}
                  {% url 'django-admindocs-docroot' as docsroot %}
                  {% if docsroot %}
                      <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                  {% endif %}
              {% endif %}
          </li>
        </ul>
      {% endif %}
    {% endblock %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="active">
          <a href="{% url 'admin:index' %}">
            <i class="fa fa-fw fa-dashboard"></i> 
            Dashboard
          </a>
        </li>
        {% get_admin_navigation as nav_list %}
        {% if nav_list %}
          {% for app in nav_list %}
            <li>
              <a 
                href="{{ app.app_url }}" 
                class="section" 
                title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                  {{ app.name }}
              </a>
              
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    div>  
</nav>
