{% load i18n admin_static %}
{% load custom_admin_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<link href="{% static "admin/css/bootstrap.min.css" %}" rel="stylesheet">
{% if LANGUAGE_BIDI %}
    <link href="{% block stylesheet_rtl %}{% static "admin/css/bootstrap-rtl.min.css" %}{% endblock %}"  rel="stylesheet"  />
{% endif %}
<link href="{% block stylesheet %}{% static "admin/css/sb-admin.css" %}{% endblock %}" rel="stylesheet">
<link href="{% static "admin/css/plugins/morris.css" %}" rel="stylesheet">
<link href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">