{% extends "dashboard/layouts/dashboard.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load directory_tags %}
{% block extra_script %}
<script type="text/javascript">
  var ready = function(e)
  {
    var openuploader = function(e)
    {
      $("#id_logo").trigger('click');
    }
    $("#openuploader").on('click',openuploader)
  }
  $(window).on('load', ready);

</script>
{% endblock %}
{% block content %}
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg">
       <span class="icon-user"></span>
    </div>
    <div class="title">            
        <h1>{% trans "MY_PROFILE_LABEL" %}:</h1>
        <p>{% trans "EDIT_LABEL" %}</p>
    </div>
</div>

    
<div class="app-heading-container app-heading-bordered bottom" >
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li class="active">{% trans "MY_PROFILE_LABEL" %}</li>
    </ul>
</div>
   
<div class="container">
    <div class="block"> 
      <div class="app-heading app-heading-small">                                
          <div class="title">
              <h2>{% trans "BASIC_INFORMATION_LABEL" %}</h2>
              
          </div>                                
      </div>
       <form method="post" action="." enctype='multipart/form-data' role="form" class="clearfix">
        <div class="row">

      
            {% csrf_token %} 
                
            {% if messages  %}
              <div class="clearfix">
                <ul class="list-group errorlist">                               
                  {% for message in messages %}
                    <li class="list-group-item list-group-item-warning">
                     {{ message }}
                    </li>            
                  {% endfor %}                
                </ul>
              </div>
            {% endif %} 
            {% if profile_form.errors %}
              <div class="clearfix">
                <ul class="list-group errorlist">                  
                  {% for field in profile_form %}
                    {% for error in field.errors %}
                    <li class="list-group-item list-group-item-warning">{{field.label}} - {{ error }}</li>                 
                    {% endfor %}
                  {% endfor %}                 
                </ul>
              </div>
            {% endif %}
            
             
            <div class="col-md-3 avatar">
                
                <a class="image" id="userlogo" style="display:block;{% if request.user_site.logo %}padding-bottom: 50%;background-image:url({{MEDIA_URL}}uploads/{{request.user_site.id}}/{{request.user_site.logo}}); background-size: cover; background-repeat: no-repeat;background-position: center; {% endif %}">
                 
                  {% if request.user_site.logo %}
                  
                  {% else %}
                    <div id="ds">
                       <i class="fa fa-picture-o" aria-hidden="true"></i>
                      <span>
                        {% trans "PROFILE_AVATAR_LABEL" %}
                      </span>
                    </div>
                   
                    
                  {% endif %}
                </a>


                  <input 
                  type="file" name="logo"  id="id_logo" class="form-control file2 inline btn btn-primary hide" 
                   data-url="{% url "add_item_profile_image" %}"
                  >
                  <a id="openuploader"  class="btn btn-primary btn-icon-fixed btn-block  margin-top-10">
                    <span class="fa fa-desktop" aria-hidden="true"></span>
                    {% trans "UPLOAD_FROM_YOUR_COMPUTER_LABEL" %}
                  </a>
                  <a href="{% url "user_site_auth_login_facebook" %}" class="btn  btn-primary btn-icon-fixed btn-block">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                    {% trans "IMPORT_PHOTO_FROM_FACEBOOK_LABEL" %}
                  </a>
                   <a href="{% url "user_site_auth_login_instagram_login" %}" class="btn  btn-info btn-icon-fixed btn-block">
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                    {% trans "IMPORT_PHOTO_FROM_INSTAGRAN_LABEL" %}
                  </a>
                  <a href="{% url "user_site_auth_login_twitter_login" %}" class="btn btn-info  btn-icon-fixed btn-block">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                    {% trans "IMPORT_PHOTO_FROM_TWITTER_LABEL" %}
                  </a>
            </div>
            <div class="col-md-9">
                  <div class="form-group">   
                    {% get_placeholder "First Name" as placeholder_attr %}
                    {{ profile_form.first_name|attr:"class:form-control"|attr:placeholder_attr }}
                  </div> 
                  <div class="form-group"> 
                    {% get_placeholder "Last Name" as placeholder_attr %}
                    {{ profile_form.last_name|attr:"class:form-control"|attr:placeholder_attr}}
                  </div>   
                  <div class="form-group">
                     {% get_placeholder "Email" as placeholder_attr %}
                    {{ profile_form.email|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>       
                  <div class="form-group">
                     {% get_placeholder "Nick" as placeholder_attr %}
                    {{ profile_form.nick|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>     
                  <div class="form-group">
                    {{ profile_form.website|attr:"class:form-control"|attr:"placeholder:http://" }}
                  </div> 
                  <div class="form-group">   
                    {% get_placeholder "Country" as placeholder_attr %}
                    <label>{{placeholder_attr}}</label>
                    {{ profile_form.country|attr:"class:form-control"}}
                  </div>    
                  <div class="form-group">   
                    {% get_placeholder "City" as placeholder_attr %}
                    {{ profile_form.city|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>
                  <div class="form-group">   
                    {% get_placeholder "State" as placeholder_attr %}
                    {{ profile_form.state|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>
                  <div class="form-group">   
                    {% get_placeholder "State" as placeholder_attr %}
                    {{ profile_form.zip_code|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>                  
                  <div class="form-group"> 
                    {% get_placeholder "Mobile Phone Number" as placeholder_attr %} 
                    {{ profile_form.mobile|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>   

                  <div class="form-group"> 
                    {% get_placeholder "Your Description" as placeholder_attr %} 
                    {{ profile_form.description|attr:"class:form-control"|attr:placeholder_attr }}
                  </div>    


            </div>
          </div>

          <div class="row  margin-top-10">
            <div class="col-sm-12">
              <div class="form-group"> 
                 {% get_placeholder "Security Question" as placeholder_attr %} 
                {{ profile_form.security_question|attr:"class:form-control"|attr:placeholder_attr }}
              </div>
              <div class="form-group"> 
                 {% get_placeholder "Security Answer" as placeholder_attr %} 
                {{ profile_form.security_answer|attr:"class:form-control"|attr:placeholder_attr }}
              </div>    


            </div>

            <div class="form-group">
              <div class="col-sm-5 margin-top-10">
                <input type="submit" class="btn btn-green" value="{% trans 'SAVE_LABEL' %}" />
              </div>
            </div>
            </div>
          </form>     
       

        
    </div>
    <div class="block">
      <div class="app-heading app-heading-small">                                
          <div class="title">
              <h2>{% trans "CHANGE_PASSWORD_LABEL" %}</h2>
             
          </div>                                
      </div>
          <form method="post" action="{% url "user_site_auth_password_change" %}" enctype="multipart/form-data" role="form">
            <div class="row">
              <div class="col-sm-12">
                {% csrf_token %} 
                    

                <div class="form-group"> 
          
                  {% get_placeholder "Old Password" as placeholder_attr %} 
                  {{ password_change_form.old_password|attr:"class:form-control"|attr:placeholder_attr }}
                  
                </div>         
                <div class="form-group"> 
                  {% get_placeholder "New Password" as placeholder_attr %} 
                  {{ password_change_form.new_password1|attr:"class:form-control"|attr:placeholder_attr }}
                </div> 
                <div class="form-group"> 
                    {% get_placeholder "Repeat New Password" as placeholder_attr %} 
                    {{ password_change_form.new_password2|attr:"class:form-control"|attr:placeholder_attr }}
                </div>
              
                <div class="form-group margin-top-10">
                  <div class="col-sm-5">
                    <input type="submit" class="btn btn-green" value="{% trans 'UPDATE_PASSWORD_LABEL' %}" />
                  </div>
                </div>                
              </div>
            </div>

              
          </form>                  

    </div>
</div>


{% endblock %}