<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificados en la web</title>
    <meta name="description"  content="{% block description %} Tu lugar favorito para publicar anuncios {% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/frontend/css/styles.min.css">
    {% block extra_meta %}
        <meta property="og:image" content="{{current_domain}}{{STATIC_URL}}img/logo.png"/>
        <meta property="og:url" content="{{current_domain}}"/>
        <meta property="og:title" content="Aprende Unreal engine - fansite "/>
        <meta property="og:description" content=" Un pequeño blog sobre unreal engine en español"/>
    {% endblock %}
    {% block extra_style %}
    {% endblock %}  
   
</head>
<body>

    {% block content %}{% endblock %}
    {% include "frontend/includes/__javascript.html" %}
    {% block extra_script %}{% endblock %}
</body>
</html>
