{% load set_var %}
{% load i18n %}
{% load humanize %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificados en la web </title>
    <meta name="description"  content="{% block description %} Tu lugar favorito para publicar anuncios {% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/frontend/css/styles.min.css">
    {% block extra_meta %}
        <meta property="og:image" content="{{current_domain}}{{STATIC_URL}}img/logo.png"/>
        <meta property="og:url" content="{{current_domain}}"/>
        <meta property="og:title" content="Aprende Unreal engine - fansite "/>
        <meta property="og:description" content=" Un pequeño blog sobre unreal engine en español"/>
    {% endblock %}
    {% block extra_style %}
    {% endblock %}  
   
</head>
<body>
<div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url "home" %}">Publicameonline </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="navbar-form navbar-left" action="{% url "directory_search" %}"  target="_self">
                            <div class="form-group">
                                <label class="control-label" for="search-field">
                                    <i class="glyphicon glyphicon-search"></i>
                                </label>
                                <input class="form-control search-field" type="search" name="q" id="search-field">
                            </div>
                        </form>
                        <p class="navbar-text navbar-right">
                            {% if not request.user_site.is_authenticated %}
                                <a class="navbar-link login" href="{% url "user_site_auth_login" %}">Log In</a> 
                                <a class="btn btn-default action-button" role="button" href="{% url "user_site_registration_register" %}">Registro </a>
                            {% else %}
                                <a class="navbar-link login" href="{% url "user_site_auth_profile" %}">
                                    {% trans "USER_PANEL_LABEL" %}
                                </a>
                                <a class="btn btn-default action-button" role="button" href="{% url "user_site_auth_logout" %}">
                                    {% trans "LOGOUT_LABEL" %}
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </nav>
            <div class="container hero">

                {% block content %}{% endblock %}
                
            </div>
        </div>
    </div>
   
    {% include "frontend/includes/__javascript.html" %}
    {% block extra_script %}{% endblock %}
</body>
</html>
