body
{
	font-size: 16px;
	background: @white;
	#header
	{
		background: @dark;
		color: @white;
		padding:  15px 0px;
		h1
		{	
			font-size: 16px;
			margin: 0px;
			a
			{
				font-size: 1em;
				color: @white;
				font-weight: bold;
			}
		}
	}
	#user-tools
	{
		@media all and (min-width: 699px)
		{
			text-align: right;
		}
		
		a
		{
			color: @blue;
		}
	}

	#content
	{
		#content-main
		{
			.module
			{

				table
				{
					caption
					{
						h4
						{
							font-weight: bold;
							a
							{
								color: @dark;
							}
							
						}
					}
					tbody
					{
						th
						{
							width: 70%;
						}
					}
				}
			}
		}
		#content-related
		{

		}

	}
}