{% load i18n admin_static %}
{% load custom_admin_tags %}

{% if results %}
<div class="results">
	<ul>
		{% for result in results %}
			<li class="field-thumb">
				{% for item in result|custom_result_list_revesed %}{{ item }}{% endfor %}
			</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
