{% extends "frontend/layouts/default3.html" %}
{% block title %}Error| 404 pagina no encontrada{% endblock %}
{% block description %}Error 404 pagina no encontrada {% endblock %}
{% block extra_meta %} <meta name="robots" content="nofollow" />{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
            <h1>404 error</h1>
            <p>Oops pagina no encontrada</p>
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 hidden-xs hidden-sm phone-holder">
         
        </div>
    </div>
{% endblock %}