{% extends "frontend/layouts/default3.html" %}
{% block title %}Error | 500  en server {% endblock %}
{% block description %} 500 error en server {% endblock %}
{% block extra_meta %} <meta name="robots" content="nofollow" />{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
            <h1>500 error</h1>
            <p>Oops a Parece que tenemos un error en el servidor por favor intenta mas tarde</p>
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 hidden-xs hidden-sm phone-holder">
           
        </div>
    </div>
{% endblock %}