{% extends "frontend/layouts/default.html" %}
{% load set_var %}
{% load i18n %}
{% load humanize %}
{% load directory_tags %}
{% load widget_tweaks %}
{% block content %}

 <div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header">
                    <a class="navbar-brand navbar-link"  href="{% url "home" %}">Clasificados en la Web </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="navbar-form navbar-left" action="{% url "directory_search" %}" target="_self">
                            <div class="form-group">
                                <label class="control-label" for="search-field">
                                    <i class="glyphicon glyphicon-search"></i>
                                </label>
                                <input class="form-control search-field" type="search" name="q" id="search-field">
                            </div>
                        </form>
                        <p class="navbar-text navbar-right">
                            {% if not request.user_site.is_authenticated %}
                                <a class="navbar-link login" href="{% url "user_site_auth_login" %}">Log In</a> 
                                <a class="btn btn-default action-button" role="button" href="{% url "user_site_registration_register" %}">Registro </a>
                            {% else %}
                                <a class="navbar-link login" href="{% url "user_site_auth_profile" %}">
                                    {% trans "USER_PANEL_LABEL" %}
                                </a>
                                <a class="btn btn-default action-button" role="button" href="{% url "user_site_auth_logout" %}">
                                    {% trans "LOGOUT_LABEL" %}
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                        <h1>Publica rapido y facil tus anuncios</h1>
                        <p>Vehiculos, Casas, Apartamentos publique lo que desea vender</p>

                        {% if not request.user_site.is_authenticated %}
                            <a class="btn btn-default btn-lg action-button" href="{% url "user_site_auth_login" %}">Comenzar Ahora!</a>
                        {% else %}
                            <a class="btn btn-default btn-lg action-button" href="{% url "directory_create_view_list" %}">Comenzar Ahora!</a>
                         {% endif %}
                    </div>
                  
                </div>
            </div>
        </div>
    </div>





     <div class="features-boxed">
        <div class="container">
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                    <a href="{% url "category" slug="vehicles" %}">
                        <i class="icon ion-android-bus icon"></i>
                        <p>&nbsp;</p>
                        <h3 class="name">VEHICULOS </h3>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <a href="{% url "category" slug="properties" %}">
                            <i class="fa fa-building icon"></i>
                            <h3 class="name">INMUEBLES </h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <a href="{% url "category" slug="services" %}">
                            <i class="fa fa-group icon"></i>
                            <h3 class="name">SERVICIOS </h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <a href="{% url "category" slug="articles" %}">
                            <i class="glyphicon glyphicon-blackboard icon"></i>
                            <h3 class="name">Articulos </h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <a href="{% url "category" slug="turims" %}">
                            <i class="glyphicon glyphicon-plane icon"></i>
                            <h3 class="name">Turismo </h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <a href="{% url "category" slug="jobs" %}">
                            <i class="glyphicon glyphicon-briefcase icon"></i>
                            <h3 class="name">Empleo </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% get_recent_items 8 as get_recent_items  %}
    {% if get_recent_items %}
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Anuncios Recientes</h2>
            </div>
            <div class="row photos">
                
                {% for post in   get_recent_items   %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="item">
                        {% media_image_ramdom_list post as image %}
                        {% if image %}
                            <div class="background">
                                <img class="img-responsive" src="{{MEDIA_URL}}{{image}}" />
                            </div>
                        {% endif %}
                        <h4>
                            <a href="{% url "directory_post_details" slug=post.id %}" >{{post.title}}</a>
                        </h4>
                        <p> <span>Precio: {{post.price|get_price_format}} Bs.</span></p>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% get_featured_items 8 as featured_items  %}
    {% if featured_items %}
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Anuncios Destacados</h2>
            </div>
            <div class="row photos">
                {% for post in   featured_items   %}
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="{% url "directory_post_details" slug=post.id %}" >
                        {% media_image_ramdom_list post as image %}
                        {% if image %}
                            <img class="img-responsive" src="{{MEDIA_URL}}{{image}}" />
                        {% endif %}
                    </a>
                    <h4>
                        <a href="{% url "directory_post_details" slug=post.id %}" >{{post.title}}</a>
                    </h4>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}