{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          {% trans "ADD_DESCRIPTION_LABEL" %}?
        </h4>
      </div>
      <div class="modal-body">
        <textarea id="description" class="form-control " cols="30" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {% trans 'CLOSE_LABEL' %}
        </button>
        <button id="UpdateDescription" 
          data-url="{% url "media_set_description_image" %}"
          type="button" class="btn btn-primary">
          {% trans 'UPDATE_LABEL' %}
        </button>
      </div>
    </div>
  </div>
</div>