{% extends "frontend/layouts/default4.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}

	<nav class="navbar navbar-default navigation-clean-search">
        <div class="container">
            <div class="navbar-header">
            	<a class="navbar-brand navbar-link" href="#">
            		<i class="fa fa-group icon"></i> 
            	   Publicaciones autor:	{{autor}} 
            	</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation">


                        {% if not request.user_site.is_authenticated %}
                            <a class="font-blue" href="{% url "user_site_auth_login" %}">
                            	Publicar
                            </a>
                        {% else %}
                            <a class="font-blue" href="{% url "directory_create_view_list" %}">Publicar</a>
                         {% endif %}

                   </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Categorias <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="{% url "category" slug="vehicles" %}">Vehiculos</a></li>
                            <li role="presentation"><a href="{% url "category" slug="properties" %}">Propiedades</a></li>
                            <li role="presentation"><a href="{% url "category" slug="articles" %}">Articulos</a></li>
                            <li role="presentation"><a href="{% url "category" slug="turims" %}">Turismo</a></li>
                            <li role="presentation"><a href="{% url "category" slug="services" %}">Servicios</a></li>
                            <li role="presentation"><a href="{% url "category" slug="jobs" %}">Empleo</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" target="_self">
                    <div class="form-group"></div>
                </form>
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12 item_list">
                    <div class="row">
	                    {% for post in posts %}
		                    <div class="col-md-4 ">
                                <div class="item">
                                    {% media_image_ramdom_list post as image %}
                                    {% if image %}
                                        <div class="background">
                                            <img class="img-responsive" src="{{MEDIA_URL}}{{image}}" />
                                        </div>
                                    {% endif %}
                                        
                                    <h4>
                                        <a href="{% url "directory_post_details" slug=post.id %}" >{{post.title}}</a>
                                    </h4>
                                </div>
		                   
								
		                    </div>
	                    {% empty %}
                            <div class="box2">
                                <h3 class="title">
                                    <i class="glyphicon glyphicon-exclamation-sign"></i> 
                                    Lo sentimos pero no encontramos Resultados
                                </h3>
                                <p>Por favor intenta con otra categoria gracias</p>
                            </div>
	                    {% endfor %}   
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            {% if posts.has_previous %}

                                <a href="{% url 'category' slug=category page=posts.previous_page_number %}"  class="btn btn-default">Anterior </a>

                            {% endif %}
                        
                            {% if posts.has_next %}

                                <a href="{% url 'category' slug=category page=posts.next_page_number %}"  class="btn btn-default">Siguiente </a>

                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
 

{% endblock %}
