{% extends "frontend/layouts/default4.html" %}
{% load set_var %}
{% load i18n %}
{% load humanize %}
{% load directory_tags %}
{% load media_tags %}
{% load markup_tags  %}	

{% block content %}
	<div class="container">
            <div class="row">
                <div class="col-md-12 item_list">
                    <h1 class="title2">{{post.title}} </h1>
                    <div class="row">
						{% for ob in post.album.select_related %}
                  			{% media_image_list ob.id as images %}
                  			{% for image_video in images %}
						  		{% if image_video.image %}
				                	<div class="col-md-4 " style="margin-bottom: 10px;">
				                		<a href="{{MEDIA_URL}}{{image_video.image}}" data-lightbox="photos">
				                			<img  class="img-responsive" src="{{MEDIA_URL}}{{image_video.image}}"/ >
				                		</a>
									</div>
				            	{% endif %}
				        	{% endfor %}
				        {% endfor %}						
						{% for ob in post.album.select_related %}
                  			{% media_video_list ob.id as videos %}
                  			{% for video in videos %}
						 	{% if video.link %}
				            	<div class="col-md-8 ">
					            	<div class="videoWrapper">
				                		{{video.link|get_video_embed_html|safe}}
				                		{% if video.content %}
										{% get_oembed_object video.content|get_markdown|album_short_code as post_content %}   
									    {{post_content|safe}}	
									    {% endif %}		
				                	</div>
			                	</div>
				            {% endif %}	
				        {% endfor %}
				        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        	
                            <div class="box2">
                            	
                                <h3 class="title"><i class="glyphicon glyphicon-exclamation-sign"></i> Descripcion</h3>
                                <p> <b>Precio: {{post.price|get_price_format}} Bs.</b></p>
                                <p> <b>Telefono de Contacto: {{post.phone}}.</b></p>
                              
                                <div class="autor">
	                        		<div style="">
	                        			<p><b>Creado Por: <a class="black" href="{% url 'directory_autor' slug=post.autor.nick %}">{{post.autor.nick}}</a></b>
	                        				{% if post.autor.verified == True %}
	                        					<i class="glyphicon glyphicon-ok-sign " title="Usuario Verificado" ></i>
	                        				{% else %} 
                                				<i class="glyphicon glyphicon-question-sign" title="Usuario Desconocido"></i>
                                			{% endif %}
	                        			</p>
	                        		</div>
                        		</div>
                                {% get_oembed_object post.content|get_markdown|album_short_code as excerpt %}
								{{ excerpt|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}