{% extends "frontend/layouts/default4.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}


        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row features">
                        <div class="col-md-4 col-sm-6 item">
                            <div class="box">
                                <a href="{% url "directory_search" slug="vehicles" %}{% if search_word %}?q={{search_word}}{% endif %}">
                                    <i class="icon ion-android-bus icon"></i>
                                    <p> </p>
                                    <h6 class="name">Vehiculos </h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 item">
                            <div class="box">
                                <a href="{% url "directory_search" slug="properties" %}{% if search_word %}?q={{search_word}}{% endif %}">
                                    <i class="fa fa-building icon"></i>
                                   <h6 class="name">Propiedades </h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 item">
                            <div class="box">
                                <a href="{% url "directory_search" slug="services" %}{% if search_word %}?q={{search_word}}{% endif %}">

                                    <i class="fa fa-group icon"></i>
                                    <h6 class="name">Servicios </h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 item">
                            <div class="box">
                                <a href="{% url "directory_search" slug="articles" %}{% if search_word %}?q={{search_word}}{% endif %}">
                                    <i class="glyphicon glyphicon-blackboard icon"></i>
                                    <h6 class="name">Articulos </h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 item">
                            <div class="box">
                                <a href="{% url "directory_search" slug="turims" %}{% if search_word %}?q={{search_word}}{% endif %}">
                                    <i class="glyphicon glyphicon-plane icon"></i>
                                    <h6 class="name">Turismo </h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 item">
                            <div class="box">
                                <a href="{% url "directory_search" slug="jobs" %}{% if search_word %}?q={{search_word}}{% endif %}">
                                    <i class="glyphicon glyphicon-briefcase icon"></i>
                                    <h6 class="name">Empleo </h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form style="margin-top: 15px; " method="get" action="{% url 'directory_search'  %}" class="item">
                        <input type="hidden" name="q" value="{{search_word}}">
                        <div class="form-group">
                            <label class="control-label" for="search-field">Precio minimo</label>
                            <input type="number" class="form-control" name="min" required="required" value="{{min}}" placeholder="0.00">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="search-field">Precio maximo</label>
                            <input type="number" class="form-control" name="max" required="required" value="{{max}}" placeholder="0.00">
                        </div>  
                        <button type="submit" class="btn btn-primary">Filtar</button>
                        <a  href="{% url 'directory_search' %}{% if search_word %}?q={{search_word}}{% endif %}" class="btn btn-primary">
                        Reset
                        </a>
                    </form>
                </div>
                <div class="col-md-8 item_list">
                    <div class="row">
	                    {% for post in posts %}
		                    <div class="col-md-6 item">
		                    {% media_image_ramdom_list post as image %}
							{% if image %}
								<img class="img-responsive" src="{{MEDIA_URL}}{{image}}" />
							{% endif %}
								<h4>
									<a href="{% url "directory_post_details" slug=post.id %}" >{{post.title}}</a>
								</h4>
                                <span>Precio: {{post.price|get_price_format}} Bs.</span>
		                    </div>
	                    {% empty %}
                            <div class="box2">
                                <h3 class="title">
                                    <i class="glyphicon glyphicon-exclamation-sign"></i> 
                                    Lo sentimos pero no encontramos Resultados
                                </h3>
                                <p>Por favor intenta con otra categoria gracias</p>
                            </div>
	                    {% endfor %}   
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            {% if posts.has_previous %}
                                <a href="{% url 'directory_search' page=posts.previous_page_number %}{% if search_word %}?q={{search_word}}{% endif %}{% if min > 0 %}&min={{min}}{% endif %}{% if max > 0 %}&max={{max}}{% endif %}"  class="btn btn-default">Anterior </a>
                            {% endif %}
                        
                            {% if posts.has_next %}
                                <a href="{% url 'directory_search' page=posts.next_page_number %}{% if search_word %}?q={{search_word}}{% endif %}{% if min > 0 %}&min={{min}}{% endif %}{% if max > 0 %}&max={{max}}{% endif %}"  class="btn btn-default">Siguiente </a>
                            {% endif %}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
 

{% endblock %}
