{% load i18n admin_static %}
{% load custom_admin_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>    
    <link href="{% static "admin/css/bootstrap.min.css" %}" rel="stylesheet">
    {% if LANGUAGE_BIDI %}
        <link href="{% block stylesheet_rtl %}{% static "admin/css/bootstrap-rtl.min.css" %}{% endblock %}"  rel="stylesheet"  />
    {% endif %}
    <link href="{% block stylesheet %}{% static "admin/css/sb-admin.css" %}{% endblock %}" rel="stylesheet">
    <link href="{% static "admin/css/plugins/morris.css" %}" rel="stylesheet">
    <link href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    {% block extrastyle %}{% endblock %}

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div id="">

        {% if not is_popup %}
          
            {% block nav-global %}{% endblock %}
            <!-- END Header -->
        {% endif %}



        <!-- Content -->
        <div id="page-wrapper">            
            <div class="container">       
                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message|capfirst }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock messages %}
                {% block pretitle %}{% endblock %}   

                
                 <!-- /.row -->
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
              

            </div>
        </div>
        <!-- END Content -->

        
    </div>
    <!-- END Container -->
            
    {% include "admin/includes/__footer.html" %}
    {% block extrahead %}{% endblock %}
    {% include "admin/includes/__javascript.html" %}

</body>
</html>
