{% load i18n admin_static %}
{% load custom_admin_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>    

    {% include "admin/includes/__stylesheets.html" %}
    {% block extrastyle %}{% endblock %}

    {% include "admin/includes/__javascript.html" %}
    {% block extrahead %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div id="wrapper">

        {% if not is_popup %}
            {% include "admin/includes/__header.html" %}
            {% block nav-global %}{% endblock %}
            <!-- END Header -->
        {% endif %}



        <!-- Content -->
        <div id="page-wrapper" class="clearfix">            
            <div class="container-fluid"  class="clearfix">       
                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message|capfirst }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock messages %}
                {% block pretitle %}{% endblock %}   

                {% include "admin/includes/__breadcrumbs.html" %}
                 <!-- /.row -->
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                

            </div>
        </div>
        <!-- END Content -->

        
    </div>
    <!-- END Container -->
            
        {% include "admin/includes/__footer.html" %}

    

</body>
</html>
