{% extends "frontend/layouts/default2.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% block extra_script %}
	<script type="text/javascript" src="{{STATIC_URL}}js/recaptcha_ajax.js"></script>
{% endblock %}

{% block content %}

 	<div class="login-dark">
        <form method="post"  role="form" id="form" action="{% url "user_site_auth_login" %}">
            <h2 class="sr-only">{% trans "ACCOUNT_LABEL" %}</h2>
            {% csrf_token %}
				<div class="form-login-error">
					
					{% if form.errors %}	
					    {% for k,e in form.errors.iteritems %}
			          	 	{% for v in e %}
			          	 		<p>{% if k != "__all__" %} <strong>{{k|form_error_list:form}}</strong> {% endif %} {{ v }}.</p>
			          	    {% endfor %}
			          	{% endfor %}
					{% endif %}
				</div>
         			<div class="form-group">
						{{ form.email|attr:"class:form-control"|attr:"placeholder:Email"|attr:"autocomplete:false" }}
					</div>
					
					<div class="form-group">
						{{ form.password|attr:"class:form-control"|attr:"placeholder:Password"|attr:"autocomplete:false" }}
					</div>

					<div class="form-group">
						
						<div class="input-group">
							{{ form.captcha }}
						</div>
					
					</div>	
            	<div class="form-group">
                	<button class="btn btn-primary btn-block" type="submit">{% trans "LOGIN_LABEL" %}</button>

                	<a 
						href="{% url "socialauth_begin" "facebook" %}"
						class="btn btn-primary btn-block">
						<i class="fa fa-facebook"></i>
						{% trans "LOGIN_WITH_FACEBOOK" %}
					</a>
					<a
						href="{% url "socialauth_begin" "google-oauth2" %}"
						class="btn btn-danger btn-block">
						<i class="fa fa-google-plus"></i>
						{% trans "LOGIN_WITH_GOOGLE" %}
					</a>
            		</div>
            	<a href="{% url 'user_site_password_reset' %}" class="forgot">Perdiste Tu Contraceña?</a>
            	<a href="{% url 'user_site_registration_register' %}"   class="forgot">
	                Registrar una nueva cuenta
	            </a>
            </form>
    </div>



{% endblock %}
