{% extends "frontend/layouts/default3.html" %}
{% load i18n %}
{% block content %}
	<div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
            <h1>The {% trans 'Your Account Details' %}</h1>
            <p>{% trans 'Password Changed Successfully' %}</p>
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 hidden-xs hidden-sm phone-holder">
           
        </div>
    </div>
{% endblock %}

