{% extends "frontend/layouts/default3.html" %}
{% load i18n %}
{% block content %}
	<div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
            <h1>Email Enviado</h1>
            <p>{% trans "Email with password reset instructions has been sent." %}</p>	
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 hidden-xs hidden-sm phone-holder">
           
        </div>
    </div>
{% endblock %}