{% extends "frontend/layouts/default2.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% block content %}
<div class="login-dark">

  	<div class="form-login-error">				
		{% if form.errors %}	
		    {% for k,e in form.errors.iteritems %}
	      	 	{% for v in e %}
	      	 		<p>{% if k != "__all__" %} <strong>{{k|form_error_list:form}}</strong> {% endif %} {{ v }}.</p>
	      	    {% endfor %}
	      	{% endfor %}
		{% endif %}
	</div>
			    
	 	
	
	<form method="post" role="form" id="form_login" method="post" action=".">
	  	{% csrf_token %} 
		<div class="form-group">
			{{ form.email|attr:"class:form-control"|attr:"placeholder:Email"|attr:"autocomplete:false" }}
		</div>
		<button class="btn btn-primary btn-block" type="submit">
		  	{% trans "Restablecer contraceña" %}
		</button>	  
		<br/>
		<a href="{% url 'user_site_auth_login' %}"   class="forgot">
	      Loguearse en tu cuenta
	    </a>
	    <a class="forgot" role="button" href="{% url "user_site_registration_register" %}">
	      	Registrar una nueva cuenta
	    </a>
	</form>


		
	
</div>



{% endblock %}

