{% extends "frontend/layouts/default.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% block extra_script %}{% endblock %}
{% block content %}

    <div class="panel panel-primary" data-collapsed="0">
        <div class="panel-heading">
          <div class="panel-title">
            {% trans 'Change Password' %}
          </div>
          
          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <form method="post" action="{% url "user_site_auth_password_change" %}" enctype="multipart/form-data" role="form" class="form-horizontal form-groups-bordered">
             
            {% csrf_token %} 
        			{% if form.errors %}
        		    <div class="clearfix margin-top-15">
        		      	<ul class="list-group errorlist">                  
        		      	  {% for field in form %}
        		      	    {% for error in field.errors %}
        		      	    <li class="list-group-item list-group-item-warning">{{field.label}} - {{ error }}</li>                 
        		      	    {% endfor %}
        		      	  {% endfor %}                 
        		     	</ul>
        		    </div>
        		{% endif %}                

            <div class="form-group"> 
              <label class="col-sm-3 control-label">{{ profile_form.old_password.label}}</label>
              <div class="col-sm-5">
              {{ form.old_password|attr:"class:form-control"|attr:"placeholder:Old Password" }}
              </div>
            </div>         
            <div class="form-group">   
              <label class="col-sm-3 control-label">{{ profile_form.new_password1.label}}</label>
              <div class="col-sm-5">
               {{ form.new_password1|attr:"class:form-control"|attr:"placeholder:New Password" }}
              </div>
            </div> 
            <div class="form-group"> 
              <label class="col-sm-3 control-label">{{ profile_form.new_password2.label}}</label>
              <div class="col-sm-5">
                {{ form.new_password2|attr:"class:form-control"|attr:"placeholder:Repeat New Password" }}
              </div>
            </div>
          
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-5">
                <input type="submit" class="btn btn-primary" value="{% trans 'Update' %}" />
              </div>
            </div>
              
          </form>   
        </div>        
    </div>
  </div>
</div>


{% endblock %}
