{% extends "frontend/layouts/default2.html" %}
{% load i18n %}
{% block content %}


<div class="login-dark">

  	
			    
	 	
	{% if validlink %}
	<form method="post"  role="form" id="form" action=".">
	  {% csrf_token %} 
	  {{ form.as_p }}

	  <button class="btn btn-primary btn-block" type="submit">
	  	{% trans "Submit" %}
	  </button>	  
	</form>
	{% else %}

	<p>{% trans "Password reset failed" %}</p>

	{% endif %}

		
	
</div>



{% endblock %}

