{% extends "frontend/layouts/default3.html" %}
{% load i18n %}
{% block content %}
	<div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
            <h1>{% trans "Registration is currently closed." %}<</h1>
            <p>Por favor intenta luego</p>	
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 hidden-xs hidden-sm phone-holder">
           
        </div>
    </div>
{% endblock %}