{% extends "dashboard/layouts/dashboard.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% block extra_script %}{% endblock %}
{% block content %}
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg">
          <span class="icon-list3"></span>
    </div>

           
    <div class="title">            
        <h1> {% trans "MY_ADVERTS_LABEL" %}:</h1>
        <p>{% trans "DELETE_LABEL" %}</p>
    </div>
</div>

    
<div class="app-heading-container app-heading-bordered bottom" >
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li class="active">
          <a href="{% url "directory_my_list" %}">{% trans "MY_ADVERTS_LABEL" %}</a>
        </li>
        <li class="active">{% trans "DELETE_LABEL" %}</li>
    </ul>
</div>
   
<div class="container">
    <div class="block"> 
     

      {% if messages  %}
        <ul class="list-group errorlist">                               
          {% for message in messages %}
            <li class="list-group-item list-group-item-warning">
              {{ message }}
            </li>            
          {% endfor %}                
        </ul>
      {% endif %} 
      <form 
      		method="post" 
      		action="." 
      		enctype="multipart/form-data" 
      		role="form" 
      		class="form-horizontal form-groups-bordered"

      	>
         
        {% csrf_token %} 
            
         <p>{% trans "YOU_WANT_DELETE_LABEL" %} "{{ object }}"?</p>

      
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-5">
            <input type="submit" class="btn btn-primary" value="{% trans 'COMFRIM_LABEL' %}" />
            <a href="{% url "directory_my_list" %}" class="btn btn-info">{% trans 'BACK_LABEL' %}</a>
          </div>
        </div>
          
      </form>   
  </div>
</div>
{% endblock %}