{% extends "dashboard/layouts/dashboard.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% block extra_script %}{% endblock %}
{% block content %}
<ol class="breadcrumb bc-3">
  <li>
    <a href="{% url "home" %}"><i class="fa fa-home"></i>Home</a>
  </li>
  <li>
    <a href="{% url "whatssap_my_phonenumbers" %}">My Phone Numnbers</a>
  </li>
  <li class="active"> 
    <strong>Details</strong>
  </li>
</ol>

<h2>Phone Details</h2>
<br />

<div class="row">
  <div class="col-md-12">


  </div>
</div>
{% endblock %}