{% extends "dashboard/layouts/dashboard.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load media_tags %}
{% load directory_tags %}
{% block extra_script %}
  
  <script type="text/javascript" src="{{STATIC_URL}}dashboard/js/vendor/simplemde.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}dashboard/js/textarea.js"></script>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}dashboard/js/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}dashboard/js/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  {% include "dashboard/modules/directory/user_site/includes/__media_image_text_modal.html" %}
  {% include "dashboard/modules/directory/user_site/includes/__media_video_text_modal.html" %}
  <script  src="{{STATIC_URL}}dashboard/js/main.js"></script>
{% endblock %}
{% block extra_style %}
  <link href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{STATIC_URL}}dashboard/js/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
{% endblock %}  
{% block content %}
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg">
          <span class="icon-list3"></span>
    </div>

           
    <div class="title">            
        <h1> {% trans "MY_ADVERTS_LABEL" %}:</h1>
        <p>
          {% if object %}
            {% trans "EDIT_LABEL" %}
            {% trans "ADVERT_LABEL" %}
           
          {% else %}
           {% trans "NEW_ADVERT_LABEL" %}
          {% endif %}
        </p>
    </div>
</div>


    
<div class="app-heading-container app-heading-bordered bottom" >
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li class="active">
          <a href="{% url "directory_my_list" %}">{% trans "MY_ADVERTS_LABEL" %}</a>
        </li>
        <li class="active">
          {% if object %}
           {% trans "EDIT_LABEL" %}
          {% else %}
           {% trans "NEW_ADVERT_LABEL" %}
          {% endif %}
        </li>
    </ul>
</div>
   
<div class="container">
  <div class="block"> 
      <div class="app-heading app-heading-small">                                
          <div class="title">
              <h2>
                {% if object %}
                  {% trans "EDIT_LABEL" %}
                {% else %}
                  {% trans "NEW_ADVERT_LABEL" %}
                {% endif %}
              </h2>              
          </div>                                
      </div>

    {% if messages  %}
      <ul class="list-group errorlist">                               
        {% for message in messages %}
          <li class="list-group-item list-group-item-warning">
            {{ message }}
          </li>            
        {% endfor %}                
      </ul>
    {% endif %} 

   

    <form 
      method="post" 
      action="." 
      enctype="multipart/form-data" 
      role="form" 
      id="new_advert_form"

      >

      {% csrf_token %} 
      {% if form.errors %}
        <div class="clearfix">
          <ul class="list-group errorlist">                  
            {% for field in form %}
              {% for error in field.errors %}
                <li class="list-group-item list-group-item-warning">{{field.label}} - {{ error }}</li>
              {% endfor %}

            {% endfor %}  
            {% for err in form.non_field_errors %}
              <li class="list-group-item list-group-item-warning">{{err}}</li>
            {% endfor %}                                 
          </ul>
        </div>
      {% endif %}
            
      <div class="form-group"> 
        {% get_placeholder "TITLE_LABEL" as placeholder_attr %}
        {{ form.title|attr:"class:form-control"|attr:placeholder_attr}}
      </div> 


       
        <div class="form-group">
           {% get_placeholder "CONTENT_LABEL" as placeholder_attr %}
          {{ form.content|attr:"class:form-control"|attr:placeholder_attr}}
          
        </div>             
        <div class="form-group"> 
          <h4>{{form.categories.label}}</h4>
          {{ form.categories|attr:"class:form-control"|attr:"placeholder:Categories" }}
          
        </div> 

        <div class="form-group">
          
          {{ form.publish_date|attr:"class:form-control datepicker"|attr:"placeholder:Publish Date" }}
         
        </div>          

        <div class="form-group">
          {% get_placeholder "PRICE_LABEL" as placeholder_attr %}
          {{ form.price|attr:"class:form-control"|attr:placeholder_attr }}
         
        </div>          
        <div class="form-group">
          
          {{ form.phone|attr:"class:form-control"|attr:"placeholder:Phone" }}
         
        </div>       
        <!--<div class="form-group">
          
          <h4>{% trans "FEATURED_LABEL" %}</h4>
          {{ form.featured_days }}

          <ul id="featured_date" class="days_list">
            <li data-days="7">
              <div class="title">
                7
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li>
            <li  data-days="12">
              <div class="title">
                12
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li>
            <li  data-days="30">
              <div class="title">
                30
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li> 
            <li  data-days="60">
              <div class="title">
                60
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li> 
            <li  data-days="90" class="dark">
              <div class="title">
                90
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li>                                               
          </ul>
        </div>-->   
        <div class="form-group">
          
          <h4>{% trans "SHOW_ADVERT_UNTIL_LABEL" %}</h4>
          
          {{ form.release_date_days }}
          <ul id="until_date" class="days_list">
            <li  data-days="7"> 
              <div class="title">
                7
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li>
            <li  data-days="12">
              <div class="title">
                12
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li>
            <li  data-days="30">
              <div class="title">
                30
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li> 
            <li  data-days="60">
              <div class="title">
                60
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li> 
            <li  data-days="90" class="dark active">
              <div class="title">
                90
              </div>
              <div class="subtitle">
                {% trans "DAYS_LABEL" %}
              </div>
            </li>                                               
          </ul>
        </div> 
        <div class="form-group">


          <div 
            id="uploaded_images"  
            data-delete-url="{% url "media_remove_old_file" %}"
            data-featured-url="{% url "media_set_featured_image" %}"
            data-description-url="{% url "media_set_description_image" %}"
            data-featured-label="{% trans "FEATURED_LABEL" %}?"
            data-description-label="{% trans "ADD_DESCRIPTION_LABEL" %}?"
          >
            <a href="#" class="left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <div class="images">
              <ul>
                {% for ob in object.album.select_related %}
                  {% media_image_list ob.id as images %}
                  {% for image in images %}
                  <li>
                    <div data-id="{{image.id}}" class="photo" style="background:url({{MEDIA_URL}}{{image}}">
                      <i class="delete fa fa-times-circle" aria-hidden="true"></i>
                      <button type="button" class="featured btn {% if image.featured %} btn-success {% else %} btn-default {% endif %}">
                        <span class="fa fa-check" aria-hidden="true"></span>
                        {% trans "FEATURED_LABEL" %}?
                      </button>
                      <br />
                      <br />
                      <button type="button" class="showmodal btn btn-primary" 
                      data-id="{{image.id}}" data-url="{% url "media_set_description_image" %}"
                      >
                        <span class="fa fa-edit" aria-hidden="true"></span>
                        {% trans "ADD_DESCRIPTION_LABEL" %} ?
                      </button>
                    </div>
                  </li>
                  {% endfor %}
                {% endfor %}
                               
              </ul>
            </div>
            <a href="" class="right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>

          </div>
          <input type="file" multiple data-url="{% url "media_add_media_image" %}" id="id_files" style="display:none;">
          <div class="draggable btn btn-primary" >
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span> {% trans "DRAG_HERE_LABEL" %}</span>
          </div>
        
        </div> 
        <div class="form-group">
          <div 
            id="uploaded_videos"  
            data-delete-url="{% url "media_delete_video_link" %}"
            data-featured-url="{% url "media_set_featured_video" %}"
            data-description-url="{% url "media_set_description_video" %}"
            data-featured-label="{% trans "FEATURED_LABEL" %}?"
            data-description-label="{% trans "ADD_DESCRIPTION_LABEL" %}?"
            data-delete-label="{% trans "DELETE_LABEL" %}?"
          >        
            <div class="videos">
                <ul>

                {% for ob in object.album.select_related %}
                  {% media_video_list ob.id as videos %}
                  {% for video in videos %}

                    <li class="video" data-id="{{video.id}}">
                      <div class="videoWrapper youtube">
                        {{video.link|get_video_embed_html|safe}}
                      </div>
                        <button 
                          type="button" 
                          class="featured btn {% if video.featured %} btn-success {% else %} btn-default {% endif %}"
                          data-id="{{video.id}}"
                        >
                          <span class="fa fa-check" aria-hidden="true"></span>
                          {% trans "FEATURED_LABEL" %}?
                        </button>
   
                        <button type="button" class="showmodal btn btn-primary" 
                        data-id="{{video.id}}" 
                        data-url="{% url "media_set_description_video" %}"
                        >
                          <span class="fa fa-edit" aria-hidden="true"></span>
                          {% trans "ADD_DESCRIPTION_LABEL" %} ?
                        </button>        
                        <button 
                          type="button" class="delete-video btn btn-danger" 
                          data-id="{{video.id}}" 
                        >
                           <i class="delete fa fa-times-circle" aria-hidden="true"></i>
                          {% trans "DELETE_LABEL" %}
                        </button>                
                    </li>  
                  {% endfor %}
                {% endfor %}

                </ul>
            </div>
          </div>
         </div>
         <div class="form-group">
          <input type="text" id="video_link" class="form-control" placeholder="{% trans "VIDEO_LINK_LABEL" %}">
          <br />
          <a  
            class="btn btn-success" 
            id="add_video_link"
            data-url="{% url "media_add_video_link" %}"
            >
              {% trans 'ADD_VIDEO_LINK_LABEL' %}
            </a>
        </div>          
                
        <div class="form-group publish">
          
            <input type="submit" class="btn btn-green" value="
            {% if object %}
            {% trans 'UPDATE_LABEL' %}
            {% else %}
            {% trans 'TO_PUBLISH_LABEL' %}{% endif %}" />
            {% if object %}
            <a href="{% url "directory_create_view_delete" pk=object.id %}" class="btn btn-danger">
              {% trans 'Delete' %}
            </a>
            <a href="{% url "directory_my_list" %}" class="btn btn-info">
              {% trans 'BACK_LABEL' %}
            </a>
            {% endif %}

          
        </div>
            {{form.GUID}}
    </form>   
  </div>
</div>
{% endblock %}