{% extends "dashboard/layouts/dashboard.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg">
        <span class="icon-list3"></span>
    </div>
    <div class="title">            
        <h1>{% trans "MY_ADVERTS_LABEL" %}:</h1>
        <p>{% trans "LIST_LABEL" %}</p>
    </div>
</div>

    
<div class="app-heading-container app-heading-bordered bottom" >
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li class="active">
          {% trans "MY_ADVERTS_LABEL" %}
        </li>
    </ul>
</div>
   
<div class="container">
  <div class="block"> 
    <div class="app-heading app-heading-small"> 
     <form  id="advert_form" method="get" class="margin-bottom-10 clearfix" action="{% url 'directory_my_list' %}" >
        <div class="col-md-10">
          <div class="form-group">
             <input name="q" class="form-control" placeholder="Escribe algo" value="{{request.session.search_q}}">
           </div>
        </div>
         <div class="col-md-2">
           <div class="form-group ">
               <button  class="btn" type="submit">
                 <i class="fa fa-search" aria-hidden="true"></i>
               </button>
            </div>
         </div>
      </form> 
    </div>
      {% if messages  %}
        <ul class="list-group errorlist">                               
          {% for message in messages %}
            <li class="list-group-item list-group-item-warning">
              {{ message }}
            </li>            
          {% endfor %}                
        </ul>
      {% endif %} 



    <table class="table table-striped">
            <tbody>
                {% for item in  directoryitem_list %}
                <tr >
                    <td>
       
                        <div class="contact contact-bordered contact-lg status-online">
                            {% media_image_ramdom_list item as image %}
                            {% if image %}
                              <img src="{{MEDIA_URL}}{{image}}"> 
                            {% else %}
                            {% endif %}        
                            <div class="contact-container">
                                <a href="{% url "directory_post_details" slug=item.id %}">{{item.title}}</a>
                                {% if item.hits %}
                                    <span >{{item.hits|get_visit_counter}}</span>
                                    <span >{% trans "VISITS_LABEL" %}</span>
                                {% endif %}
                               
                                <span>
                                   {{item.created|naturaltime}}
                                </span>
                            </div>
                        </div>
                       
                    </td>
                     <td>
                                                   
                    </td>
                    <td>
                      <a href="{% url "directory_create_view_edit" pk=item.id %}" class="btn btn-primary">
                        {% trans "EDIT_LABEL" %}
                      </a>    
                      <a href="{% url "directory_create_view_delete" pk=item.id %}" class="btn btn-danger">
                        {% trans "DELETE_LABEL" %}
                      </a>  

                            
                    </td>
                   
                </tr>
                {% endfor %}  
            </tbody>

    </table>

  {% if directoryitem_list.has_next %}

      <div class="pagination">
        <a 
          href="{% url 'directory_my_list' page=directoryitem_list.next_page_number %}{% if search_word %}?q={{search_word}}{% endif %}" class="btn btn-primary">
          {% trans "LOAD_MORE_PAGES_LABEL" %}
        </a>  

      </div>
    {% endif %}
  </div>
</div>
{% endblock %}