body {
  font-size: 16px;
  background: #ffffff;
}
body #header {
  background: #424242;
  color: #ffffff;
  padding: 15px 0px;
}
body #header h1 {
  font-size: 16px;
  margin: 0px;
}
body #header h1 a {
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
}
@media all and (min-width: 699px) {
  body #user-tools {
    text-align: right;
  }
}
body #user-tools a {
  color: #00d2ff;
}
body #content #content-main .module table caption h4 {
  font-weight: bold;
}
body #content #content-main .module table caption h4 a {
  color: #424242;
}
body #content #content-main .module table tbody th {
  width: 70%;
}
