{% extends "frontend/layouts/default.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load humanize %}
{% load user_site_tags %}
{% load staticfiles %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}
<div class="public_profile clearfix">
 <div class="row clearfix ">
    
  <div class="col-md-4 avatar">
              
      <div class="image" style="{% if profile.logo %}background-image:url({{MEDIA_URL}}uploads/{{profile.id}}/{{profile.logo}});{% endif %}">
        {% if not profile.logo %}
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        {% endif %}
      </div>

      <h5 class="nick">@{{profile.nick}}</h5>
      <ul class="inline">
        {% if profile.website %}
          <li>
              <a href="{{profile.website}}">{% trans "VIEW_WEBSITE_LABEL" %}</a>
          </li>
        {% endif %}
        {% if profile.mobile %}
          <li>
            <span class="showphone" data-phone="{{profile.mobile}}">{% trans "VIEW_PHONE_LABEL" %}</span>
          </li>
         {% endif %}
      </ul>
  </div>
  <div class="col-md-8 ">
      {% if profile.title %}
        <h2>
          {{profile.title}}
        </h2>
      {% endif %}    
      {% if profile.subtitle %}
        <h3>
          {{profile.subtitle}}
        </h3>
      {% endif %}  
     
      {% if profile.description %}
      <p>
        {{profile.description}}
      </p>
      {% endif %}
  </div>
</div>
<div class="row clearfix  featured-items">
   <div class="col-md-12 clearfix">
    {% for item in posts %}
    <div class="col-md-4 item">
      {% media_image_ramdom_list item as image %}
      {% if image %}
        <div class="image" style="background:url({{MEDIA_URL}}{{image}});background-size:cover;"></div>
      {% else %}
        <div class="image" ></div>
      {% endif %}
      <div class="text">
        <h3>{{item.title}}</h3>
  
        <span class="date">{{item.created|naturaltime}}</span>
        <div class="extra">
          {% if item.hits|length > 0 %}
            <span class="title">{{item.hits|get_visit_counter}}</span>
            <span class="subtitle">{% trans "VISITS_LABEL" %}</span>
          {% endif %}
        </div>        
        <a href="" class="btn btn-green">
          {% trans "MORE_INFO_LABEL" %}
        </a>            
      </div>
    </div>
    {% empty %}
    <div class="col-md-12">
      <div class="info">
        <div class="icon">
          <i class="fa fa-question" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h3 class="title">
            {% trans "YOU_HAVENT_ADVERT_LABEL" %}
          </h3>
          <p class="sub-title"><a href="{% url "directory_create_view_list" %}">{% trans "PUBLISH_YOUR_FIRST_ADVERT_LABEL" %}</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
    <div class="col-md-12 clearfix">
      {% if posts.has_next %}
        <div class="pagination">
          <a 
            rel="nofollow"
            href="{% url 'directory_public_profile' page=posts.next_page_number %}" class="btn btn-green">
            {% trans "LOAD_MORE_PAGES_LABEL" %}
          </a>  

        </div>
      {% endif %}
    </div>
</div>

           
</div>


{% endblock %}
{% block extra_footer_scritps %}
   
{% endblock %}
