{% extends "admin/index.html" %}
{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}
{% load form_utils %}
{% block extrastyle %}
  <!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mediamanager.css">!-->
{% endblock %}


{% block breadcrumbs %}
<!-- Breadcrumbs
================================================== -->
<ul class="breadcrumb">
  <li>
    <a href="{% url 'admin:index' %}">
        {% trans 'Home' %}
    </a>
  </li>
  <li class="active"> {% trans 'GLOBAL CONFIGURATION' %}</li>
</ul>  

{% endblock %}

{% block content %}

<div class="col-md-12"> 
  	<div class="page-header">
  		<h1>{% trans 'GLOBAL CONFIGURATION' %}</h1>
  	</div>
    {{ form.non_field_errors }}
{% if form.non_field_errors %}
<div class="form_errors">
  {% for err in form.non_field_errors  %}
  <div class="form_error_message">{{ err }}</div>
  {% endfor %}
</div>  
{% endif %}

	<form role="form" class="form-horizontal" enctype="multipart/form-data" action="" method="post">
		{% csrf_token %}
    <fieldset class="module aligned clearfix">
 
        {% for field in form %}
          <div class="form-group">
            {% if not field.field.is_hidden %}
              <label class="control-label col-xs-2" for="{{ field.field.name}}">{{ field.field.label}}</label>
            {% endif%}
                  <div class="col-xs-9">

                        {% if field.is_readonly %}
                            <span>{{ field.contents|linebreaksbr }}</span>
                        {% else %}
                                {% if field.is_checkbox %}
                                    {{ field.field }}
                                {% else %}
                                    {{ field|attr:"class:form-control" }}
                                {% endif %}
                        {% endif %}

                        {% if field.field.help_text %}
                            
                                <p class="help-text">{{ field.field.help_text|safe }}</p>
                            
                        {% endif %}

                        {% if field.errors|length_is:'1' %}
                            <ul class="list-group errorlist">
                                {% for error in field.errors %}
                                    <li class="list-group-item list-group-item-warning">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </div>
           </div>
       {% endfor %}
    </fieldset>
    
		{% include "global_config/submit_line.html" %}
	</form>
</div>
{% endblock %}
{% block sidebar %}{% endblock %}
