{% load i18n %}


<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
        	<div class="navbar-header">               
                <a class="navbar-brand" href="{% url 'admin:index' %}">{% trans 'Actions' %}</a>
            </div>

            <div class="collapse navbar-collapse submit-row">
                <ul class="nav navbar-nav navbar-right">
                	<li>
						<div class="btn-group"> 
							<input type="submit" value="{% trans 'Save' %}" class="btn btn-success default"/>
						</div>
					</li>
                </ul>
            </div>
        </div>
    </div>
</div>
