{% load i18n %}
    <div class="footer-basic">
        <footer>
         
            <ul class="list-inline">
                <li><a href="{% url "home" %}">Inicio </a></li>
                <li><a href="{% url "contact_form" %}">Contacto </a></li>
                <li><a href="{% url "about_us" %}">Acerca </a></li>
                <li><a href="{% url "terms" %}">Terminos </a></li>
                <li><a href="{% url "privacy_policy" %}">Privacidad</a></li>




            </ul>
            <p class="copyright">Publicameonline © 2016</p>
        </footer>
    </div>