{% load mptt_tags %}
{% load i18n %}

<div>
    <div class="header-blue no-padding">
        <nav class="navbar navbar-default navigation-clean-search">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url "home" %}">Publicameonline </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav"></ul>
                    <form class="navbar-form navbar-left" method="get" action="{% url "directory_search" %}" target="_self">
                        
                        <div class="form-group">
                            <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
                            <input class="form-control search-field" type="search" name="q" id="search-field" value="{{search_word}}">
                        </div>
                    </form>
                            <p class="navbar-text navbar-right">
                            {% if not request.user_site.is_authenticated %}
                                <a class="navbar-link login" href="{% url "user_site_auth_login" %}">Log In</a> 
                                <a class="btn btn-default action-button" role="button" href="{% url "user_site_registration_register" %}">Registro </a>
                            {% else %}
                                <a class="navbar-link login" href="{% url "user_site_auth_profile" %}">
                                    {% trans "USER_PANEL_LABEL" %}
                                </a>
                                <a class="btn btn-default action-button" role="button" href="{% url "user_site_auth_logout" %}">
                                    {% trans "LOGOUT_LABEL" %}
                                </a>
                            {% endif %}
                        </p>
                </div>
            </div>
        </nav>
    </div>
</div>