

/*	Table OF Contents
==========================
1-General Styles
2-Navigation
3-Navigation
4-Home/Slider
5-About-US
6-Services
7-Records
8-Our Work
9-Team
10-Social Fonts
11-Our Clients
12-Promo Box
13-Blog
14-Clients
15-Contact
16-footer
17-Pricing
18-Responsive
19-Flat-Icons




=================================
1- General Styles
=================================*/

body {
	background:#fff;
	overflow-x:hidden !important;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:28px;
	color:#585f61;
	font-weight:400;
	
}

h1{
	font-family:maven pro;
	font-size:35px;
	line-height:30px;
	color:#2d3538;
	text-align:center;
	text-transform:uppercase;
}

a{
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Maven Pro', sans-serif;
	font-weight:900;
}

.section-head{
	position:relative;
	padding-bottom:20px;
	max-width:940px;
	width:90%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
.section-head h1{
	margin-bottom:30px;
}
.section-head:after{
	content:'';
	position:absolute;
	bottom:0;
	left:50%;
	background:#f59343;
	width:170px;
	height:2px;
	margin-left:-85px;
}

.carousel-nav{
	position:relative;
	overflow:hidden;
	display:table;
	margin-left:auto;
	margin-right:auto;
	
}
.carousel-nav a{
	text-decoration:none;
	display:block;
	width:42px;
	text-align:center;
	color:#b2b6b9;
	font-size:18px;
	line-height:40px;
	height:40px;
	border:1px solid #b2b6b9;
	float:left;
	margin-top:50px;
	outline:none;
}
.carousel-nav a.next{
	border-left:none;
	border-radius:0 2px 2px 0;
}

.carousel-nav a.prev{
	border-radius:2px 0 0 2px;
}


/* ============================
   2-Navigation
   =========================== */

#sticktop{
	width:100%;
	left:0;
	-moz-animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;
	-o-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-0-animation-delay: 0s;
	animation-delay: 0s;
}

#sticktop.stickyNav,.nav-stop{
	position:relative !important;
}
.nav-shadow{
	moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);
	-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
	-o-box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
	box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
}


ul.navbar-nav {
	float: right;
	min-height: 40px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default{
	z-index:999999;
	padding-top:15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #2d3538;
	background: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
	font-size: 15px;
	line-height: 40px;
	color: #4c585c;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.navbar-default {
	background: #fff;
	border: none;
}

.navbar-nav > li {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.navbar-nav > li > a {
	padding: 0;
	padding-top: 5px;
	padding-bottom:0px;
	padding-left: 3px;
	padding-right: 3px;
	outline: none !important;
	overflow: hidden;
	cursor:pointer;
}



.navbar-default .container {
	position: relative;
}

.navbar-default .navbar-toggle {
	color: #fff;
	border-color: #fff;
	top:-2px;
	right:10px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}


.navbar-default ul.dropdown-menu {
	background: #2d3538;
	min-width: 140px;
	top:95%;
	padding:0;	
}

.navbar-default ul.dropdown-menu li a {
	color: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding:10px 16px;
	outline:none;
}


.dropdown i{
	padding-left:2px;
	font-size:12px;
}

.btn {
	text-decoration: none;
	padding:15px 50px 15px 50px;
	background:#f59343;
	color:#fff;
	text-transform:capitalize;
	border-bottom:3px solid #ac6932;
	font-size:18px;
	font-weight:bold;
	border-radius:2px;
	position:relative;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn:hover{
	background:#44a7f6;
	color:#fff;
	border-bottom:3px solid #2c74af;
}

.navbar-default .navbar-brand{
	font-size:30px;
	color:#2d3538;
	line-height:40px;
	font-weight:900;
	text-transform:uppercase;
	padding:0;
}
.navbar > .container .navbar-brand{
	margin-left:0;
}

.navbar-default .navbar-brand:hover{
	color:#2d3538;
}

a.navbar-brand img{
	padding-right:15px;
}

.navbar-nav > li:hover ul.dropdown-menu {
	display: block;
}


.dropdown-menu li.active a,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu li.active a:hover,
.dropdown-menu li.active a:focus{
	background:#f59343 !important; 
	color: #fff;
}

#XV-lamp {
	height: 2px;
	max-height: 2px;
	position: absolute;
	left: 0;
	min-width: 40px;
	z-index: 100;
	bottom: 0px;
	background: #f59343;
	margin-left:10px;
	padding-bottom:0;
}


#page-head{
	position:relative;
	padding:45px 0 50px;
	background:#21aae1;
	margin-top:100px;
	text-align: center;
	margin-top: 15px;
}

#page-head.style-2{
	background:#fff;
	margin-bottom:20px;
}

#page-head h1{
	position:relative;
	color:#fff;
	padding-bottom:42px;
	display:table;
	margin-left:auto;
	margin-right:auto;
}

#page-head h1:after{
	background:#fff;
	height:2px;
	width:80%;
	left:10%;
	content:'';
	bottom:0;
	position:absolute;
}

#page-head.style-2 h1{
	color:#000;
}

#page-head.style-2 h1:after{
	background:#f59343;
}


.dark .navbar-default{
	background-color:#222729;
}

.dark .navbar-default .navbar-nav > li > a,.dark .navbar-default .navbar-nav > li > a:hover,.dark .navbar-default .navbar-nav > li > a:focus,.dark .navbar-default .navbar-nav > .active > a,.dark .navbar-default .navbar-nav > .active > a:hover,.dark .navbar-default .navbar-nav > .active > a:focus,.dark .navbar-default .navbar-brand{
	color:#fff;
}


/* ============================
   4-Home/Slider
   =========================== */
#home{
	position:relative;
	padding-top:120px;
	text-align:center;
	text-transform:uppercase;
}

.flex-control-nav{
	bottom:10px;
	z-index:9999;
}

#home h2{
	font-size:35px;
	line-height:40px;
	color:#21aae1;
	margin-top:0;
}

#home .slider-wrapper{
	position:relative;
	background:#1eace3;
	margin-top:30px;
	margin-bottom:-50px;
}

.flex-control-paging li a{
	box-shadow:none;
}

.flex-control-paging li a.flex-active{
	background:#1eace3;
	
}

.slider-wrapper:before{
	content:'';
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	height:110px;
	width:100%;
}
.flexslider{
	position:relative;
	z-index:999;
}

.slider-wrapper:after{
	content:'';
	background:#fff;
	position:absolute;
	bottom:0;
	left:0;
	height:71px;
	width:100%;
}


.device-img{
	max-width:890px;
	height:auto;
	display:block;
	margin:0 auto;
}

/* ============================
   5-About-US
   =========================== */
#about{
	position:relative;
	padding-top:45px;
}

#about p{
	text-align:center;
}
.about-wrapper{
	position:relative;
	padding-top:70px;
	margin-left:auto;
	margin-right:auto;
	display:table;
}

.about-wrapper{
	min-height:380px;
}

.work-phase{
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
	border-top:1px solid #f7f7f7;
	border-radius:2px;
	padding:18px 26px 28px 26px;
	position:relative;
	width:265px;
	min-height:375px;
	margin-right:20px;
	float:left;
	margin-bottom:140px;
}
.work-phase span {
	display: block;
	margin-left:auto;
	margin-right:auto;
	min-height:120px;
}
.work-phase h2{
	font-family:maven pro;
	font-size:30px;
	line-height:28px;
	color:#2d3538;
	text-align:center;
	text-transform:uppercase;
}
.work-phase .hover h2{
	color:#fff;
	padding-top:5px;
	padding-bottom:25px;
}
.work-phase .hover a{
	margin-top:36px;
}
.work-phase .hover {
	border-radius:2px;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #2d3538;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
	overflow: hidden;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity==0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	z-index:99;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.work-phase:hover .hover {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity==100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
}


/* ============================
   6-Services
   =========================== */
#services{
	position:relative;
	background:#2d3538;
	padding-top:45px;
}
#services h1{
	color:#fff;
}
#services p{
	color:#848d90;
	text-align:center;
}
.service-wrapper{
	position:relative;
	margin-bottom:60px;
}
.service h2{
	font-family:maven pro;
	font-size:24px;
	line-height:28px;
	color:#f59343;
	text-transform:uppercase;
	padding-left:100px;
}
.service{
	margin-top:70px;
}
#services .service p{
	padding-left:100px;
	text-align:left;
}
.service span{
	float:left;
}
/* ============================
   7-Records
   =========================== */

#records{
	position:relative;
	background:#f4fbfd;
	padding-top:45px;
	
}


#records .records-wrapper{
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	padding-top:70px;
	padding-bottom:30px;
	display:table;
}

.record{
	width:300px;
	margin-bottom:30px;
	display:block;
	float:left;
	margin-right:0px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity==0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	position:relative;
	text-align:center;
}

.record:last-child{
	margin-right:0;
}

.record span{
	float:none;
	margin-right: auto;
	margin-left:auto;
	font-size:15px;
	line-height:18px;
	color:#818a8d;
	font-weight:900;
}

.record .stat{
	float:none;
	display:block;
	font-size:40px;
	line-height:50px;
	color:#21aae1;
	font-weight:900;
}

.boxed-layout .record{
	margin-right:32px;
}

.ie9 .record{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity==100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
}

.animate1 {
    animation-delay: 0.3s;
}

.animate2 {
    animation-delay: 0.6s;
}


.animate3 {
    animation-delay: 0.9s;
}

.animate4 {
    animation-delay: 0.12s;
}

/* ============================
   8-Our Work
   =========================== */
#portfolio{
	position:relative;
	margin-bottom:100px;
}
#portfolio h1{
	margin-top:70px;
}

ul#Grid{
	margin-top:0;
	padding:0;
}



.project img{
	width:100%;
	height:auto;
	position:relative;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.folio-nav {
	position: relative;
	min-height:50px;
	margin-top:70px;
}
.ajax-action .folio-nav:after{
	content:'';
	background:#dde4e6;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	bottom:50%;
}

.folio-nav ul{
	padding-left:0;
	border:1px solid #dde4e6;
	text-align:center;
	width:144px;
	margin:0 auto;
	border-radius:2px;
	overflow:hidden;
	position:relative;
	background:#fff;
	z-index:999;
}

.folio-nav li {
	list-style: none;
	display: inline-block;
	height:43px;
	width:43px;
	text-align:center;
	
}
.folio-nav li #folio-close{
	border-left:1px solid #dde4e6;
	border-right:1px solid #dde4e6;
}
.folio-nav li a{
	display:block;
	height:43px;
}
.folio-nav li img{
	margin-top:12px;
}

.ajax-page {
	position: relative;
}
.ajax-loader {
	display: none;
	background: #fff ;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 200;
}
.ajax-holder {
	position: relative;
}



.project{
	position:relative;
	overflow:hidden;
	margin-bottom:30px;
	cursor:pointer;
	width:265px;
	height:250px;
	margin-left:15px;
	margin-right:15px;
	opacity: 0;
    display: none;
}
.project .hover h5{
	font-size:22px;
	line-height:18px;
	text-transform:uppercase;
	color:#fff;
	
}
.project .hover p{
	font-size:13px;
	line-height:18px;
	text-transform:uppercase;
	color:#f59343;
	font-weight:bold;
}
.project .hover a.btn{
	float:right;
	margin-top: -59px;
    padding: 4px 15px;
	text-decoration:none;
}
.project .hover b{
	color:#fff;
	text-align:center;
	font-size:25px;
	line-height:37px;
	
}
.project .hover {
	background: #2d3538;
	position:absolute;
	left:0;
	bottom:0;
	backface-visibility: hidden;
    bottom: 0;
    height: 33%;
    opacity: 0;
    top: auto;
    width: 100%;
	padding:9px 15px 20px 20px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}


.project:hover img{
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.project:hover .hover{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.project-wrapper{
	position:relative;
	max-width:895px;
	margin-left:auto;
	margin-right:auto;
}
.project-wrapper a{
	text-decoration:none;
}
.load-more{
	text-align:center;
	margin-top:28px;
}
.load-more a{
	color:#8f989b;
	font-size:15px;
	text-align:center;
	text-transform:uppercase;
	padding:18px 60px;
	border:2px solid #b2b8ba;
	border-radius:3px;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	text-decoration:none;
}
.load-more a:hover{
	color:#fff;
	background:#21aae1;
	border:none;
}

.project-filter{
	margin-bottom:35px;
	text-align:center;
	margin-top:40px;
	padding:0;
}
.project-filter li{
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
	border:2px solid #b2b8ba;
	border-radius:3px;
	font-weight:bold;
	color:#8f989b;
	font-size:15px;
	padding:0 12px;
	line-height:33px;
	cursor:pointer;
}
.project-filter li:hover{
	background:#21aae1;
	border:none;
	border:2px solid #21aae1;
	color:#fff;
}

.folio-slider{
	margin-top:125px;
}
.folio-slider .flex-control-nav{
	bottom:-56px;
}
#portfolio-single{
	position:relative;
	font-family:maven pro;
	padding-top:150px;
	padding-bottom:78px;
}
#portfolio-single.style2{
	padding-top:80px;
}

#portfolio-single h2{
	font-size:30px;
	text-transform:uppercase;
	color:#000;
	margin:0;
	font-weight:900;
}
#portfolio-single p{
	font-family:open sans;
}
#portfolio-single h3{
	font-size:16px;
	text-transform:uppercase;
	color:#000;
	margin:0;
	font-weight:900;
}
#portfolio-single a{
	font-size:15px;
	line-height:30px;
	color:#686e6f;
	margin:0;
	font-family:open sans;
	font-weight:400;
	text-decoration:none;
}
#portfolio-single ul{
	margin:0;
	padding:0;
}
#portfolio-single li,#portfolio-single li a{
	display:inline-block;
	text-decoration:none;
	font-size:15px;
	text-transform:capitalize;
	color:#f59343;
}
#portfolio-single li:after{
	content:'/';
	padding-left:5px;
}
#portfolio-single li:last-child:after{
	content:'';
}
#portfolio-single .view-online{
	background:#fff;
	color:#21aae1;
	border:1px solid #dde4e6;
	padding:22px 30px;
	line-height:0;
	margin-left:20px;
}
#portfolio-single .view-online img{
	width:16px;
	height:auto;
	margin-left:12px;
	margin-top:-3px;
}
#portfolio-single img{
	width:100%;
	height:auto;
}
#portfolio-single .folio-big{
	margin-top:50px;
	margin-bottom:30px;
}
.related-projects{
	
}
.related-projects .project{
	opacity:1;
	display:block;
	float:left;
	margin-right:5px;
	margin-top:57px;
}
.related-projects .project a{
	margin-top:-59px !important;
}
.related-projects h1{
	font-size:24px;
}
.related-projects .section-head{
	padding-bottom:4px;
	margin-top:103px;
}


.project-detail h4{
	font-size:15px;
	line-height:30px;
	color:#9ca2a4;
	margin:0;
	font-family:open sans;
	font-weight:400;
}
.project-detail h4 span{
	color:#686e6f;
}
#portfolio-single .project-detail{
	margin-top:107px;
}
#portfolio-single .project-detail h3{
	margin-bottom:42px;
}

#portfolio-single .project-detail .view-online{
	margin-left:0;
	margin-top:23px;
}

#portfolio-single.style2 h3{
	margin-top:44px;
	margin-bottom:32px;
}
#portfolio-single.style2 p{
	margin-bottom:30px;
}

.top-nav {
	font-size: 40px;
	font-weight: bold;
	cursor:pointer;
	color:#abafb0;
}
.carousel-control.left{
	position: absolute;
	left: -70px;
	top: 50%;
	height:40px;
	margin-top: -20px;
	outline:none;
}
.carousel-control.right {
	position: absolute;
	right: -60px;
	top: 50%;
	height:40px;
	margin-top: -22px;
	outline:none;
}



.folio-slider .carousel-indicators{
	bottom:-45px;
}

.carousel-indicators li.active{
	background:#21aae1;
}

.carousel-indicators li{
	border:none;
	background:#dde4e6;
}

.carousel-control.left,.carousel-control.right{
	background:none;
}

.carousel-control{
	opacity:1;
	width:5%;
	text-align:center !important;
	padding:0;
	text-shadow:none;
	color:#abafb0;
	outline:none;
	font-size:40px;
}

.carousel-control:hover,.carousel-control:focus{
	color:#21aae1;
}

/* ============================
   9-Team
   =========================== */
#team{
	position:relative;
	background:#f4f5f5;
	padding-bottom:74px;
}
#team h1{
	margin-top:70px;
}
.team-wrapper{
	position:relative;
	padding-top:45px;
	margin-top:36px;
}
.member img{
	width:100%;
	height:auto;
}

.member{
	position:relative;
	overflow:hidden;
	margin-bottom:30px;
	cursor:pointer;
	float:left;
	width:265px;
	margin-right:20px;
}
.member .hover {
	position: absolute;
	width: 100%;
	height:60%;
	background: #2d3538;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	z-index:99;
	opacity:0;
	text-align:center;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
	padding:10px 20px 20px 20px;
}


.member:hover .hover{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.member .hover h2{
	font-size:24px;
	text-transform:uppercase;
	color:#fff;
	margin-bottom:0;
}
.member .hover h5{
	font-size:14px;
	text-transform:uppercase;
	color:#f59343;
	margin:0;
	margin-bottom:12px;
}
.member .hover p{
	color:#848d90;
}

/* ============================
   10-Social Fonts
   =========================== */
.social-fonts{
	margin:0;
	background:none;
	display:block;
	text-align:center;
	margin:0;
	margin-top:20px;
	padding:0;
}

.social-fonts li a{
	color:#585f61;
	line-height:20px;
	text-align:center;
	font-size:20px;
	height:20px;
	width:20px;
	display:block;
	text-decoration:none;
}

.social-fonts li{
	display:inline-block;
	margin-left:10px;
}


.social-fonts li a:hover{
	color:#fff;
}


/* ============================
   11-Our Clients
   =========================== */
#our-clients{
	position:relative;
	margin-top:70px;
	clear:both;
}
.client-wrapper{
	position:relative;
	padding-top:30px;
	margin:48px auto 0;
	text-align:center;
	max-width:900px;
}
.client-front img{
	width:100%;
	height:auto;
}
.client-front {
	z-index: 2;
}

.client{
	margin-bottom:30px;
	float:left;
	width:270px;
	margin-left:15px;
	margin-right:15px;
	transition: 0.6s;
	-webkit-transform:perspective(500px);
    -moz-transform:perspective(500px);
    -o-transform:perspective(500px);
    -ms-transform:perspective(500px);
 	transform: perspective(500px);
	display:block;
	cursor:pointer;
}

.client .client-back{
	display:block;
	background:#d14242;
	text-align:center;
	padding:30px 20px 20px 20px;
	-webkit-transform :rotateY(180deg);
    -moz-transform    :rotateY(180deg);
    -o-transform     :rotateY(180deg);
    -ms-transform    :rotateY(180deg);
    transform        :rotateY(180deg);
	z-index:999;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	display:none;
}

.client .client-back p{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:26px;
	padding-bottom:25px;
	margin-bottom:10px;
	max-height:130px;
	overflow:hidden;
}

.client .client-back h5{
	border-top:2px solid #da5959;
	padding-top:15px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:20px;
	margin:0;
}
.client .client-back a{
	color:#ee8e8e;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:20px;
	text-decoration:none;
}
.client .client-back a:hover{
	color:#fff;
}


.flip-container.hover .client {
	-webkit-transform : rotateY(180deg);
    -moz-transform    : rotateY(180deg);
    -o-transform     :rotateY(180deg);
    -ms-transform    :rotateY(180deg);
    transform        :rotateY(180deg);
}

.flip-container.hover .client-back{
	display:block;
}

.flip-container, .client-front{
	position:relative;
}

/* ============================
   12-Promo Box
   =========================== */
.promo-box{
	background:url(../img/BG/promobg.jpg) repeat;
	text-align:center;
	padding:35px 0px 40px;
	margin-top:40px;
	margin-bottom:70px;
}
.promo-box h2{
	font-family:maven pro;
	font-size:35px;
	line-height:40px;
	font-weight:bolder;
	color:#585f61;
	text-transform:uppercase;
	margin:0;
}
.promo-box h3{
	color:#69c773;
	font-family:maven pro;
	font-size:35px;
	line-height:40px;
	font-weight:bolder;
	text-transform:uppercase;
	margin:0;
	margin-bottom:40px;
}
.promo-box a{
	padding:20px 55px 12px 55px;
	text-decoration:none;
}
.promo-box span{
	color:#fff;
}

/* ============================
   13-Blog
   =========================== */
.load-img{
	position:relative;
	min-height:200px;
	background:url(../img/basic/loader.gif) no-repeat center center;
}
.post-visual{
	position:relative;
}
.blog{
	position:relative;
}
.post{
	margin-bottom:70px;
	margin-top:50px;
}
.post.detail
{
	margin-top:20px;
}
.post.ad
{
	margin-bottom:20px;
	margin-top:20px;
}
.post img{
	max-width:100%;
	height:auto;
	position:relative;
	display: block;
}
.comment-count{
	background:#f59343;
	color:#fff;
	height:59px;
	width:59px;
	text-align:center;
	padding-top: 5px;
	font-weight:bold;
	position:absolute;
	right:0;
	bottom:0;
}

.comment-count span{
	display:block;
	line-height:16px;
}

.comment-count b{
	margin:0;
	padding:0;
	font-size:20px;
}

.post h6{
	color:#8f9799;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:30px;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
.post h2{
	color:#2d3538;
	font-family:maven pro;
	font-size:35px;
	line-height:30px;
	text-transform:uppercase;
	margin:10px 0 18px;
}

.post h2 a{
	color:#2d3538;
	text-decoration:none;
	font-size:35px;
	line-height:30px;
	margin-top: 0px !important;
}


.post h2 a:hover{
	color:#f59343;
}

.post p{
	color:#585f61;
}
.post a{
	color:#f59343;
	font-family:maven pro;
	font-size:15px;
	line-height:26px;
	text-decoration:none;
	margin-top:40px;
	display:block;
}

.post-info a{
	margin-top:0;
	display:inline-block;
	color:#21aae1;
}

.post-info{
	position:relative;
	font-size:15px;
	line-height:26px;
	color:#585f61;
	margin-bottom:12px;
}



.post-info ul{
	margin:0;
	padding:0;
	display:inline-block;
}

.post-info li{
	display:inline-block;
	list-style:none;
}

.post-info li:after{
	content:'|';
	color:#21aae1;
	padding-left:5px;
	padding-right:5px;
}

.post-info li:last-child:after{
	display:none;
}


.post i{
	margin-left:7px;
}
.share{
	border:1px solid #e4edf0;
	padding:0px;
	margin:30px 0 0;
}

.share ul{
	padding:0px;
	display:inline-block;
}



.post .share a{
	margin:0;
}
.post .share .social-fonts{
	margin:0;
}

.post .share .social-fonts a{
	color:#7f7f7f;
}

.share li{
	display:inline-block;
}


.share h5{
	color:#000;
	font-size:16px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
	display:inline-block;
	padding:0;
	padding-left:20px;
}

.share a{
	color:#21aae1;
	font-size:14px;
	line-height:30px;
	text-transform:capitalize;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

.share a:hover,.share .social-fonts a:hover{
	color:#f59343;
}
.share a:after{
	content:'|';
	color:#585f61;
}

.share .social-fonts a:after{
	content:'';
}
.share .social-fonts span{
}


.authors h2, .comments h2, .reply h2{
	color:#2d3538;
	font-size:22px;
	line-height:30px;
	text-transform:uppercase;
}
.author img{
	float:left;
}
.author{
	background:#f4f5f5;
	padding:20px 30px 25px 20px;
}
.author h2{
	font-size:18px;
	line-height:30px;
	padding-left:150px;
	margin:0;
}
.author p, .comment p{
	color:#585f61;
	font-size:14px;
	line-height:28px;
	padding-left:150px;
}
.comments{
	margin-top:35px;
}
.comment{
	margin-top:45px;
	border-bottom:1px solid #e4e5e6;
}
.comment:last-child{
	content:'';
	border-bottom:none;
	margin-bottom:70px;
}
.comment h2{
	font-size:16px;
	line-height:30px;
	margin:0;
	padding-left:90px;
}
.comment p{
	padding-left:90px;
}
.comment .date-stamp{
	color:#585f61;
	font-size:12px;
	font-weight:400;
	padding-bottom:5px;
	padding-left:90px;
	font-family: 'Open Sans', sans-serif;
	margin:0;
}
.comment img{
	float:left;
	margin-top:7px;
}

.comment.reply{
	margin-left:70px;
}

.comment a{
	color:#f59343;
	text-decoration:none;
	padding-left:90px;
	font-size:14px;
	font-weight:400;
	margin-bottom:28px;
	display:block;
	font-weight:bold;
}

.add-reply i{
	padding-left:8px;
}

.comment-form h2{
	
}

.comment-form input,.comment-form textarea{
	font-size:16px;
	line-height:28px;
	font-family: 'Open Sans', sans-serif;
	color:#585f61;
	background:#fff;
	border:1px solid #c9d3d6;
	font-weight:400;
	height:42px;
	width:100%;
	padding-left:20px;
	margin-top:20px;
	
}
.comment-form textarea{
	height:210px;
	margin-bottom:20px;
	margin-top:30px;
}
.comment-form input.btn{
	font-size:15px;
	line-height:10px;
	font-weight:900;
	color:#8f989b;
	background:#fff;
	border:1px solid #b2b8ba;
	font-weight:900;
	text-transform:uppercase;
	border-radius:3px;
	margin-bottom:70px;
	margin-top:10px;
	max-width:210px;
	padding:10px;
}

.comment-form input.btn:hover{
	background:#21aae1;
	color:#fff;
	border:1px solid #21aae1;
}

.comment-form h2{
	font-size:22px;
	line-height:30px;
	color:#2d3538;
	text-transform:uppercase;
}

/*---Blog Unit---*/

.masonry-container{
	position:relative;
	padding-bottom:30px;
	display:none;
}

.blog-masonry{
	border-top:1px solid #dedfdf;
}

.post-unit{
	border-left:1px solid #dedfdf;
	border-right:1px solid #dedfdf;
	border-bottom:1px solid #dedfdf;
	padding:20px 20px 12px 20px;
	height:auto;
	margin-bottom:0px;
}
.blog-visual img{
	width:100%;
	height:auto;
}
.head{
	line-height:20px;
	padding-top:10px;
	padding-bottom:12px;
}
.head a{
	color:#2d3538;
	font-size:20px;
	line-height:20px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:900;
}
.blog-info{
	border-bottom:1px solid #dedfdf;
	padding-bottom:15px;
	margin-bottom:5px;
}
.blog-info ul{
	margin:0;
	padding:0;
}

.blog-info li{
	list-style:none;
	font-size:15px;
	line-height:26px;
	color:#21aae1;
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
}
.blog-info li span{
	color:#585f61;
}
.blog-info li:last-child{
	padding-left:32px;
}
.blog-info li a{
	color:#21aae1;
	text-decoration:none;
}
.blog-detail p{
	font-size:13px;
	line-height:24px;
	color:#7f8c8d;
}
.blog-info li .unit-comment{
	color:#f59343;
}

.blog-detail p, .blog-detail .readmore{
	font-size:15px;
	line-height:26px;
	color:#585f61;
	font-family: 'Open Sans', sans-serif;
}
.blog-detail a{
	text-decoration:none;
}
.blog-detail .readmore{
	color:#f59343;
	font-weight:600;
}
.blog-detail .readmore i{
	padding-left:5px;
}
.unit-footer ul{
	margin:0;
	padding:0;
}
.unit-footer li{
	list-style:none;
	font-size:13px;
	line-height:26px;
	color:#8e989b;
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
}
.unit-footer{
	border-top:1px solid #dedfdf;
	margin-top:20px;
	padding-top:10px;
}

.detail .post-visual{
	margin-bottom:20px;
}
.post-visual img
{
	width: 100%;
}


/*---side bar---*/

.blog-sidebar{
	position:relative;
	padding-top:20px;
}

.blog-search{
	height:43px;
	width:100%;
	background:#fff;
	border:1px solid #d6d6d6;
	position:relative;
	border-radius:2px;
	overflow:hidden;
	
}

.blog-search input{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	padding-left:9px;
	color:#bdc3c7;
}

.blog-search button{
	height:100%;
	position:absolute;
	right:0;
	top:0;
	width:35px;
	color:#bdc3c7;
	border:0;
	padding:0;
	margin:0;
	background:none;
}

.blog-search button:hover{
	color:#fff;
	background:#f54444;
}

.head-wrapper .head{
	font-size:18px;
	line-height:40px;
	color:#1b1b1b;
	display:table;
	z-index:99;
	margin-bottom:-2px;
	text-transform:uppercase;
	font-weight:bold;

}

.recent-posts{
	margin-top:42px;
}

.latest-post{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #bdc3c7;
	min-height:110px;
	
}

.latest-post .recent-visual{
	height:70px;
	width:70px;
	float:left;
	margin-right:10px;
	text-align:center;
}
.latest-post .recent-visual img{
	height:70px;
	width:70px;
}
.latest-detail{
	display:table;
}
.latest-post .recent-visual span{
	color:#f59343;
	font-size:30px;
}
.latest-post a{
	color:#21aae1;
	font-size:14px;
	line-height:22px;
	font-weight:600;
	margin-top:-4px;
	text-decoration:none;
	display:block;
	font-family: 'Open Sans', sans-serif;

}
.latest-detail .date-stamp,.latest-detail a.reference{
	font-size:13px;
	font-weight:600;
	line-height:28px;
	color:#7f8c8d;
	text-decoration:none;
}

.blog-catagories,.blog-tags{
	margin-top:42px;
}

.blog-catagories ul{
	margin:0;
	padding:0;
}
.blog-catagories li{
	list-style:none;
	border-bottom:1px solid #bdc3c7;
}
.blog-catagories li a{
	font-size:14px;
	line-height:40px;
	font-weight:600;
	color:#1b1b1b;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}


.blog-catagories li a:hover,.latest-post a:hover,.blog-info li a:hover,.post-info a:hover{
	color:#f59343;
}


.blog-tags ul{
	margin:0;
	padding:0;
	margin-top:15px;
}

.blog-tags li{
	float:left;
	list-style:none;
	margin-right:5px;
	margin-bottom:7px;

}

.blog-tags li a{
	background:#21aae1;
	display:table;
	line-height:34px;
	padding-left:5px;
	padding-right:5px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	text-decoration:none;
	font-weight:400;
	border-radius:3px;
	transition:All .3s ease;
	-webkit-transition:All .3s ease;
	-moz-transition:All .3s ease;
	-o-transition:All .3s ease;

}

.blog-tags li a:hover{
	background:#f59343;
}

.blog-promo{
	background:#efefef;
	border-top:2px solid #E0E3E6;
}

/* ============================
   15-Contact
   =========================== */
footer{
	position:relative;
	
}
#contact{
	padding-top:75px;
	padding-bottom:65px;
	background:#2d3538;
}
#contact h2{
	font-family:maven pro;
	font-size:26px;
	line-height:26px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	margin:0;
	max-width:175px;
	margin-left:auto;
	margin-right:auto;
}
#contact p{
	text-align:center;
	color:#848d90;
	margin-bottom:50px;
	margin-top:18px;
}
#contact .social-fonts ul{
	margin:0;
	padding:0;
}
#contact .social-fonts li{
	padding:0;
}

#contact a{
	color:#f59343;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	font-size:18px;
	line-height:28px;
	font-weight:bold;
	margin-bottom:25px;
	display:block;
	text-align:center;
}

#contact .social-fonts li a{
	color:#585f61;
}
#contact input,#contact textarea{
	color:#585f61;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:28px;
	background:#3a4143;
	width:100%;
	height:44px;
	border:none;
	margin-bottom:10px;
	padding-left:20px;
	text-transform:capitalize;
}
#contact textarea{
	height:125px;
}

#contact input.btn{
	max-width:170px;
	background:#f59343;
	border-bottom:3px solid #ac6932;
	border-radius:2px;
	color:#fff;
	text-align:center;
	padding:0;
}

#contact input.btn:hover{
	background:#44a7f6;
	color:#fff;
	border-bottom:3px solid #2c74af;
	
}



#contact-map{
	height:350px;
	width:100%;
	margin-top:27px;
}

#contact-map a{
	font-size:10px;
	display:inline;
}






/*============================
  16-footer
  =========================== */

footer{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:28px;
	background:#21aae1;
	padding-top:45px;
	padding-bottom:45px;
	text-align:center;
}




/* =======================
   Pricing Tables
   ======================= */

.pricing-wrapper{
	margin-bottom:30px;
	clear:both;
	min-height:650px; /*comment it out, it is just for demo*/
	display:table;
	margin-top:100px;
}



/* layout1*/
.pricing-wrapper ul{
	margin:0;
	padding:0;
}
.pricing-wrapper li{
	list-style:none;
	display:block;
	text-align:center;
}

.layout1{
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
}

.layout1 .pricing-table{
	width:234px;
	background:#fff;
	text-align:center;
	border-bottom:3px solid #e3e4e8;
	border-top:2px solid #e3e4e8;
	float:left;
	margin-bottom:30px;
	overflow:hidden;
	transition:All 0.4s ease;
	-webkit-transition:All 0.4s ease;
	-moz-transition:All 0.4s ease;
	-o-transition:All 0.4s ease;
}

.layout1.column3 .pricing-table{
	width:310px;
}

.layout1 .pricing-table.premium{
	border-left:1px solid #e3e4e8;
	border-right:1px solid #e3e4e8;
	margin-top:-20px;
	padding-bottom:40px;
	border-radius:6px;
	
}
.table-head{
	position:relative;
}


.layout1 .table-head{
	background-color:#f6f8fa;
	padding-top:21px;
	padding-bottom:55px;
	font-size:17px;
	line-height:21px;
	font-weight:800;
	text-transform:uppercase;
	transition:All 0.4s ease;
	-webkit-transition:All 0.4s ease;
	-moz-transition:All 0.4s ease;
	-o-transition:All 0.4s ease;
}
.layout1 .price-tag{
	background-color:#e3e4e8;
	border-radius:50%;
	height:80px;
	width:80px;
	position:absolute;
	left:50%;
	margin-left:-35px;
	bottom:-35px;
	line-height:80px;
	font-size:32px;
	font-family: 'Economica', sans-serif;
	font-weight:700;
	transition:All 0.4s ease;
	-webkit-transition:All 0.4s ease;
	-moz-transition:All 0.4s ease;
	-o-transition:All 0.4s ease;
	border:5px solid #e3e4e8;
}

.layout1 .price-tag span{
	font-size:18px;
}

.layout1 .pricing-table ul{
	padding-top:50px;
}
.layout1 .pricing-table li{
	font-size:14px;
	color:#a4aeb9;
	line-height:32px;
	font-weight:100;
}
.layout1 .pricing-table li span{
	font-weight:700;
	color:#333333;
	font-size:14px;
}

.layout1 .btn{
	padding:5px 34px;
	background:#e3e4e8;
	font-size:12px;
	line-height:32px;
	color:#7f8c8d;
	margin-top:20px;
	margin-bottom:20px;
	transition:All 0.7s ease;
	-webkit-transition:All 0.7s ease;
	-moz-transition:All 0.7s ease;
	-o-transition:All 0.7s ease;
	border:none;
}

.layout1 .pricing-table:hover .btn,.layout1 .pricing-table:hover .table-head,
.layout1 .pricing-table:hover .price-tag,
.layout1 .pricing-table.premium .btn,.layout1 .pricing-table.premium .table-head,
.layout1 .pricing-table.premium .price-tag{
	color:#fff;
}
.layout1 .pricing-table:hover{
	margin-top:-20px;
	padding-bottom:40px;
	border-radius:6px;
}
.layout1 .pricing-table:hover .price-tag{
   border:5px solid #fff;
}

.layout1 .pricing-table:hover,.layout1 .pricing-table.premium{
	background-color:#f6f8fa;
	
}



/* Layout 2 */



.layout2{
	font-weight:400;
	color:#fff;
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
}

.layout2 .pricing-table{
	font-weight:700;
	font-size:16px;
	width:312.5px;
	float:left;
	position:relative;
 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity:1;

}


.layout2.column4 .pricing-table{
	width:235px;
}


.layout2 .pricing-table.premium{
	margin-top:-20px;
	padding-bottom:40px;
	border-radius:6px;
	overflow:hidden;
}

.layout2 .table-head{
	padding-top:25px;
	padding-bottom:15px;
	text-align:center;
	font-size:25px;
	z-index:10;
	text-transform:uppercase;
	background:#f59343;
}
.layout2 li{
	padding-top:17px;
	position:relative;
	margin-bottom:2px;
	height:75px;
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity:1;
	z-index:5;
}
.layout2 li:before{
	background:#000;
	position:absolute;
	width:100%;
	top:0;
	height:100%;
	z-index:-5;
	left:0;
	content:'';
	
}
.layout2 li:after{
	opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  	filter: alpha(opacity=80);
  	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	position:absolute;
	width:100%;
	top:0;
	height:100%;
	z-index:-1;
	left:0;
	content:'';
	
}
.layout2 li span{
	font-weight:100;
	display:block;
	font-size:12px;
}
.layout2 li:last-child{
	height:150px;
}
.layout2 .price-tag{
	font-size:40px;
	font-family: 'Economica', sans-serif;
	display:block;
}

.layout2 .btn{
	text-decoration: none;
	padding:5px 50px;
	text-transform:capitalize;
	color:#fff;
	border-bottom:3px solid #2c74af;
	font-size:18px;
	font-weight:bold;
	border-radius:2px;
	position:relative;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	margin-top:30px;
}


.layout2 .pricing-table.premium:before {
	content: '';
	position: absolute;
	height: 100%;
	background: url(../img/basic/shadow-left.png) repeat-y left;
	width: 29px;
	top: 0;
	left: 0px;
	z-index: 999;
}
.layout2 .pricing-table.premium:after {
	content: '';
	position: absolute;
	height: 100%;
	background: url(../img/basic/shadow-right.png) repeat-y left;
	width: 29px;
	top: 0;
	right:-1px;
	z-index: 999;
}
.layout2 .pricing-table.left-shadow{
	position:relative;
}
.layout2 .pricing-table.left-shadow:after{
	content:'';
	position: absolute;
	height: 100%;
	background: url(../img/basic/shadow-right.png) repeat-y left;
	width: 29px;
	top: 0;
	left:0;
	z-index: 999;
}


/* =======================
  	pricing tables Skin
   ======================= */
    /*To change skin color, All you have to do is to change following color and thats it*/
  /*layout 1*/
  
  
.layout1 .pricing-table:hover .btn,.layout1 .pricing-table:hover .table-head,
.layout1 .pricing-table:hover .price-tag,
.layout1 .pricing-table.premium .btn,.layout1 .pricing-table.premium .table-head,
.layout1 .pricing-table.premium .price-tag{
	background-color:#21aae1; /*could be replaced by any desired color*/
}

.layout1 .pricing-table:hover .price-tag,.premium .price-tag{
	border-color:#fff;
}

 /*layout 2*/
 
 
.layout2 .pricing-table,.layout2 li:after{
	background-color:#2d3538;	/*could be replaced by any desired color*/
}
.layout2 .premium .table-head,.layout2 .btn{
	background-color:#21aae1;
}



/* ============================
   17-Responsive
   =========================== */
/* Large desktop */
@media (min-width: 1200px) {
#records .records-wrapper{
	max-width:1150px;
}


.project-wrapper,.client-wrapper{
	max-width:1200px;
}

.record{
	width:255px;
	margin-right:40px;
	text-align:left;
}

.record:last-child{
	margin-right:0px;
}

.record span{
	float:left;
	margin-right:30px;
}

.record .stat{
	float:none;
	margin-right:0;
}


}
 
 @media (min-width: 981px) and (max-width: 1199px) {
.work-phase .hover a{
	padding:10px 20px;
}

.team-wrapper, .client-wrapper{
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
}
#portfolio-single h3,#portfolio-single .view-online{
	margin-top:30px;
}

.top-nav #flex-prev {
	left: 30px;
	z-index:999;
}
.top-nav #flex-next {
	right: 30px;
	z-index:999;
}

}
.navbar-brand
{
	display: none;
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 1000px) {

.navbar-brand
{
	display: block;
}

#page-head
{
	display: none;
}
.carousel-control.left{
	left: 10px;
}
.carousel-control.right {
	right: 20px;
}


.pricing-wrapper{
	width:100%;
}

.layout1 .pricing-table{
	width:24.5%;
	margin-bottom:30px;
}

.layout1.column3 .pricing-table{
	width:33%;
}



.layout2 .pricing-table{
	width:33%;
	margin-bottom:30px;
}

.layout2.column4 .pricing-table{
	width:24.5%;
}

.post a{
	margin-top:20px;
}

.post-info a{
	margin-top:0;
}

.project-wrapper{
	max-width:595px;
}



.project{
	margin-left:15px !important;
	margin-right:15px !important;
}

.tab-slide{
	max-width:90%;
}

#services{
	margin-top:20px;
}
.work-phase .hover a{
	padding: 10px 40px;
}




.navbar-nav > li:hover ul.dropdown-menu {
	display: none;
}
ul.dropdown-menu {
	display: none;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	float: none;
}

ul.navbar-nav{
	display:block;
}


ul.navbar-nav{
	float:none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	line-height:20px;
	text-align:left;
}

.client-wrapper{
	max-width:600px;
}



#portfolio-single h3,#portfolio-single .view-online{
	margin-top:30px;
}
#portfolio-single .view-online{
	margin-left:0;
}


.top-nav #flex-prev {
	left: 30px;
	z-index:999;
}
.top-nav #flex-next {
	right: 30px;
	z-index:999;
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 787px) {

#XV-lamp{
	display:none;
}

#sticktop{
	padding-left:30px;
}

.client-wrapper{
	max-width:300px;
}

.client{
	float:none;
}

.project-wrapper{
	max-width:270px;
}

.project-filter li{
	padding:4px;
	font-size:12px;
	margin-bottom:10px;
}


.project{
	margin-left:auto !important;
	margin-right:auto !important;
}


#services{
	margin-top:20px;
}
.service span{
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.service h2{
	text-align:center;
	padding-left:0;
}
#services .service p{
	text-align:center;
	padding-left:0;
}
.work-phase .hover a{
	padding: 10px 40px;
}


#records .records-wrapper{
	max-width:300px;
}

.record{
	width:300px;
	float:none;
}



}
 
/* Landscape phones and down */
@media (max-width: 500px) {

.left-shadow{
	display:none;
}	
.author p, .comment p,.author h2,.comment.reply h2, .comment.reply h5, .comment.reply p, .comment.reply a, .comment.reply .date-stamp{
	padding-left:0;
}

.comment img,.author img{
	margin-right:10px;
}

.comment .date-stamp{
	padding-bottom:0;
}

.layout1,.layout2{
	width:99%;
}
.layout1 .pricing-table{
	width:98%;
	margin:15px auto;
	border-left:1px solid #e3e4e8;
	border-right:1px solid #e3e4e8;
	float:none;
	clear:both;
	margin-bottom:50px
	border-radius:6px;
}
.layout1.column3 .pricing-table{
	width:98%;
}
.layout2 .pricing-table{
	width:100%;
	float:none;
	clear:both;
	border-radius:6px;
	overflow:hidden;
}

.layout2 .pricing-table:before {
	content: '';
	position: absolute;
	height: 100%;
	background: url(../img/basic/shadow-left.png) repeat-y left;
	width: 29px;
	top: 0;
	left: 0px;
	z-index: 999;
}
.layout2 .pricing-table:after {
	content: '';
	position: absolute;
	height: 100%;
	background: url(../img/basic/shadow-right.png) repeat-y left;
	width: 29px;
	top: 0;
	right:-1px;
	z-index: 999;
}
.layout2.column4 .pricing-table{
	width:100%;

}


}


@media (max-width: 340px){

}



/* ============================
   18-Flat-Icons
   =========================== */

.buildingIcon{
	background:url(../img/icons/13.png) no-repeat center center;
	width:110px;
	height:100px;
	display:block;
}
.beakerIcon{
	background:url(../img/icons/14.png) no-repeat center center;
	width:79px;
	height:96px;
	display:block;
}
.coffeecupIcon{
	background:url(../img/icons/15.png) no-repeat center center;
	width:110px;
	height:100px;
	display:block;
}
.waterIcon{
	background:url(../img/icons/16.png) no-repeat center center;
	width:120px;
	height:120px;
	display:block;
}
.laptopIcon{
	background:url(../img/icons/17.png) no-repeat center center;
	width:110px;
	height:100px;
	display:block;
}

.mobileIcon{
	background:url(../img/icons/18.png) no-repeat center center;
	width:55px;
	height:95px;
	display:block;
}
.screwIcon{
	background:url(../img/icons/19.png) no-repeat center center;
	width:59px;
	height:90px;
	display:block;
}
.headphoneIcon{
	background:url(../img/icons/20.png) no-repeat center center;
	width:110px;
	height:100px;
	display:block;
}
.desktopIcon{
	background:url(../img/icons/07.png) no-repeat center center;
	width:112px;
	height:93px;
	display:block;
}
.colorsIcon{
	background: url(../img/icons/12.png) no-repeat center center;
	width:95px;
	height:99px;
	display:block;
}

.experienceIcon{
	background:url(../img/icons/08.png) no-repeat center center;
	width:120px;
	height:95px;
	display:block;
}

.pencilIcon{
	background: url(../img/icons/11.png) no-repeat center center;
	width:97px;
	height:97px;
	display:block;
}
.compassIcon{
	background: url(../img/icons/09.png) no-repeat center center;
	width:100px;
	height:110px;
	display:block;
}

.okIcon{
	background: url(../img/icons/03.png) no-repeat center center;
	width:104px;
	height:105px;
	display:block;
}

.heartIcon{
	background: url(../img/icons/02.png) no-repeat center center;
	width:103px;
	height:104px;
	display:block;
}
.happyIcon{
	background: url(../img/icons/06.png) no-repeat center center;
	width:109px;
	height:109px;
	display:block;
}

.coffeeIcon{
	background: url(../img/icons/10.png) no-repeat center center;
	width:77px;
	height:106px;
	margin-top:-15px;
	display:block;
}

.clockIcon{
	background:url(../img/icons/04.png) no-repeat center center;
	width:95px;
	height:95px;
	display:block;
}

.sendTimerIcon{
	background:url(../img/icons/05.png) no-repeat center center;
	width:78px;
	height:86px;
	display:block;
}

.meterIcon{
	background:url(../img/icons/01.png) no-repeat center center;
	width:110px;
	height:100px;
	display:block;
}





pre
{
	background: #333;
	border-radius: 5px;
	border: 1px solid #333;
	color: white;
}

#cancel_reply
{
	display: none;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin-bottom: 15px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#searchform
{
	padding: 10px 0px;
}
#searchform .btn
{
	margin-top: 10px;
   padding: 3px;
}