{% load mptt_tags %}
{% load i18n %}

<div class="app-header">
    <ul class="app-header-buttons">
        <li class="visible-mobile">
        	<a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left">
        		<span class="icon-menu"></span>
        	</a>
        </li>
        <li class="hidden-mobile">
        	<a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left">
        		<span class="icon-list4"></span>
        	</a>
        </li>
    </ul>

                    
                    
    <ul class="app-header-buttons pull-right">
        <li>
            <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
            	{% if request.user_site.logo %}
                	<img src="{{MEDIA_URL}}uploads/{{request.user_site.id}}/{{request.user_site.logo}}" >
                {% endif %}
                <div class="contact-container">
                    <a>{{request.user_site.first_name}} {{request.user_site.last_name}}</a>
                    <span>User</span>
                </div>
                <div class="contact-controls">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>                        
                        <ul class="dropdown-menu dropdown-left">
                            <li>
                            	<a href="{% url "user_site_auth_profile" %}">
                            		<span class="icon-user"></span> 
                                    {% trans "MY_PROFILE_LABEL" %}
                            	</a>
                            </li> 
                            <li>
                            	<a href="{% url "user_site_auth_logout" %}">
                            		<span class="fa fa-sign-out" aria-hidden="true"></span>
                                    {% trans "LOGOUT_LABEL" %}
                            	</a>
                            </li> 
                        </ul>
                    </div>                    
                </div>
            </div>
        </li>        
    </ul>
</div>