
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{STATIC_URL}}dashboard/js/vendor/jquery/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}dashboard/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}dashboard/js/vendor/moment/moment.min.js"></script>   
<script  src="{{STATIC_URL}}dashboard/js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/bootstrap-select/bootstrap-select.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>        
<script  src="{{STATIC_URL}}dashboard/js/vendor/maskedinput/jquery.maskedinput.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/form-validator/jquery.form-validator.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/noty/jquery.noty.packaged.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/datatables/dataTables.bootstrap.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/sweetalert/sweetalert.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/knob/jquery.knob.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/jvectormap/jquery-jvectormap.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/sparkline/jquery.sparkline.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/morris/raphael.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/morris/morris.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/rickshaw/d3.v3.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/rickshaw/rickshaw.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/isotope/isotope.pkgd.min.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/app.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/app_plugins.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/app_demo.js"></script>
<!-- END SCRIPTS -->
<script  src="{{STATIC_URL}}dashboard/js/app_demo_dashboard.js"></script>
<script  src="{{STATIC_URL}}dashboard/js/vendor/jquery.cookie.js"></script>
