{% load mptt_tags %}
{% load i18n %}
 <ul >
    <li>
        <a href="{% url "home" %}">
          <span class="icon-home"></span>
            {% trans "Home" %}
        </a> 
    </li>
    <li>
        <a href="{% url "user_site_auth_profile" %}">
          <span class="icon-user"></span>
            {% trans "MY_PROFILE_LABEL" %}
        </a> 
    </li>
    <li>                   
        <a href="{% url "directory_my_list" %}">
            <span class="icon-list3"></span>
            {% trans "MY_ADVERTS_LABEL" %}
        </a> 
    </li>
    <li>                   
        <a href="{% url "directory_create_view_list" %}"> 
            <span class="icon-plus-circle"></span>
            {% trans "NEW_ADVERT_LABEL" %}
        </a> 
    </li>
           
</ul>
