{% extends "frontend/layouts/default4.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}
	<div class="features-boxed">
       <div class="container">
            <div class="row ">
                <div class="col-md-12 col-sm-12 item">
                    <div class="box">
                        <header>
                            <h1>Politica de privacidad</h1>
                        </header>
                        <div style="text-align: left;color:#7d8285;">
                            <p>
                                Nuestro sitio web usa sistema de analiticas de terceros para obtener informacion relevante sobre visitas.
                                Su informacion es privada pero puede ser facilitada a entes gubernantales en caso de que se haya cometido un delito.
                            </p>
                            <p>
                                Las cookies usadas en este sitio web se detallan a continuación:
                            </p>
                            <ul>
                                <li>
                                    Cookies propias necesarias para la prestación de determinados servicios solicitados expresamente por el usuario: si se desactivan estas cookies, no podrá recibir correctamente nuestros contenidos y servicios.
                                </li>
                                <li>
                                    Cookies analíticas (para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios), y publicitarias (para la gestión de los espacios publicitarios en base a criterios como la frecuencia en la que se muestran los anuncios).
                                </li>
                            </ul>
                            <h3>La información que recabamos</h3>
                            <p>
                                Cuando comience a registrarse en nuestro sitio web tendra que enviar la siguiente informacion necesaria para el correcto funcionamiento de la cuenta.
                            </p>
                            <ul>
                                <li>
                                    Direccion de correo electronico
                                </li>
                                <li>
                                    Nombre y Apellido
                                </li>
                                <li>
                                    Numero de documento de identidad (pasporte o documento de identidad o licencia de conducir) para el proceso de verificacion final
                                </li>
                                <li>
                                    Direccion y numero de telefono de contacto
                                </li>
                                <li>
                                    Nick
                                </li>
                                <li>
                                    Sitio web (opcional)
                                </li>
                                <li>
                                    Numero de telefono 
                                </li>
                                <li>
                                    Una breve Descripcion
                                </li>
                                <li>
                                    Pregunta Secreta
                                </li>
                                <li>
                                    Respuesta Secreta
                                </li>
                                <li>
                                    Contraceña
                                </li>
                            </ul>
                            <h3>Como verificaremos sus datos</h3>
                            <p>
                               Para verificar su cuenta nuestro equipo se dedicara a revisar su identidad sea verificada usando su pasaporte junto con su documento de identidad. en caso de algun delito y necesiten los datos se le entregaran al organismo pertinente por lo cual el organismo debera enviarmos la solicitud de la informacion.
                            </p>
                        </div>
                          
                       
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}