{% extends "frontend/layouts/default4.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_site_tags %}
{% load staticfiles %}
{% load humanize %}
{% load directory_tags %}
{% block extra_script %}{% endblock %}
{% block content %}
	<div class="features-boxed">
       <div class="container">
            <div class="row features">
                <div class="col-md-12 col-sm-12 item">
                    <div class="box">
                        <header>
                            <h1>Terminos</h1>
                        </header>
                            <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años
                            de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos
                            textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado
                            de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido
                            debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por
                            H. Rackham.Paragraph</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}