<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" xmlns:og="http://ogp.me/ns#">
<!--<![endif]-->
<head>
	  <meta charset="utf-8">
	  <title>{% block title %} {% endblock %}</title>

	 <!--=================================
	Meta tags
	=================================-->
	  <meta name="description" content="{% block description %} Tu lugar favorito para publicar anuncios {% endblock %}">
	  <meta content="yes" name="apple-mobile-web-app-capable" />
	  <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />
	  <meta name="referrer" content="unsafe-url">
        
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->        
    <link rel="stylesheet" href="{{STATIC_URL}}dashboard/css/styles.css">
    <!-- EOF CSS INCLUDE -->

    {% block extra_style %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  	

  
  <!-- APP WRAPPER -->
        <div class="app">           

            <!-- START APP CONTAINER -->
            <div class="app-container">
              <div class="app-sidebar app-navigation app-navigation-style-default app-navigation-open-hover dir-left" data-type="close-other">
                 
                 <nav class="user-nav">
                    {% include "dashboard/includes/__sidebar.html" %}
                 </nav>
              </div>
              <div class="app-content app-sidebar-left">
                {% include "dashboard/includes/__header.html" %}
                {% block content %}{% endblock %}
                <div class="app-overlay"></div>
               
              </div>
            </div>
           
        </div>
        
        {% include "dashboard/includes/__javascript.html" %}
        {% block extra_script %}{% endblock %}
</body>
</html>
